[2022-07-07 13:32] jayasanka-sack opened #49 "Implement the search on the aid package"
**Is your feature request related to a problem? Please describe.**
The search bar on the aid package table should be implemented.

[2022-07-07 13:33] Gravewalker666 opened #50 "Request medicines link should be removed from the nav bar"
**Is your feature request related to a problem? Please describe.**
Currently the request medicines link redirects to the home page, which doesn't necessarily require an additional link in the navigation bar.

**Describe the solution you'd like**
Remove the link from the navigation bar

[2022-07-07 13:34] jayasanka-sack opened #51 "Comments need to be sorted with latest comments first"
**Is your feature request related to a problem? Please describe.**
Currently, the comments of an Aid Package or a Pledge are not properly sorted.

**Describe the solution you'd like**
Comments need to be sorted with the latest comments first

[2022-07-07 13:35] Gravewalker666 opened #52 "Link the elixir logo to navigate into homepage"
**Is your feature request related to a problem? Please describe.**
Currently there is no way for the users to navigate back into the home page. There should be a link in the nav bar to do so.

**Describe the solution you'd like**
Link the elixir logo to navigate users back to home page

[2022-07-07 13:38] Gravewalker666 opened #53 "Rename medical suppliers to hospital and suppliers on nav bar"
**Is your feature request related to a problem? Please describe.**
Currently the link on the nav bar that navigates into the hospitals and suppliers page has the text medial suppliers on it.

**Describe the solution you'd like**
Change medical suppliers into hospital and suppliers

[2022-07-07 14:12] Gravewalker666 opened #54 "Remove the dummy text on footer"
**Is your feature request related to a problem? Please describe.**
There is some Lorem ipsum text on the footer which needs to be removed and replaced with the actual content

[2022-07-07 14:23] jayasanka-sack opened #55 "Create aid package needs to be wired"
**Is your feature request related to a problem? Please describe.**
Currently the aid package creation is not wired. Wire the page with the backend

[2022-07-07 14:31] jayasanka-sack opened #56 "Handle errors of file uploads"
**Is your feature request related to a problem? Please describe.**
Currently, we do not show error outputs when uploading CSV files.

**Describe the solution you'd like**
Display an error message when there's a failure.

[2022-07-07 14:36] jayasanka-sack opened #58 "Display supplier name on Aid package listing"
**Is your feature request related to a problem? Please describe.**
The supplier name is empty on the aid packages table.

**Describe the solution you'd like**
Refer to this comment:
https://github.com/LSFLK/MedicinesforLK-AdminAPI/issues/19#issuecomment-1177489674

[2022-07-07 15:46] jayasanka-sack opened #59 "Test issue"
This issue was created to test the project board automation.

[2022-07-07 16:15] nshamit opened #60 "Test issue 2"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-07 16:48] #49 closed

[2022-07-07 16:48] #59 closed

[2022-07-07 16:57] #53 closed, assigned to Gravewalker666

[2022-07-07 16:57] #52 closed

[2022-07-07 16:57] #50 closed

[2022-07-07 18:49] RandilaP commented on #54
May I work on this?

[2022-07-08 04:06] samisa-abeysinghe opened #64 "Donor Portal Issues"
Test round on donor portal done on 8th July 9.00 am
I found the following listed issues

- [x] Clicking on the logo does not take you to the home page
- [x]  Clicking on donate button does nothing – probably not wired yet (on the Request Medicine page)
- [x] Register on the login page does not work
- [x] #94
- [x] #92
- [x] #95
- [x] FB, insta and twitter icons on the footer are not linked
- [x] P

[2022-07-08 04:24] nshamit commented on #64
I'll get answers to these bullets:

- [ ] news-room page media contacts section has some dummy numbers
- [ ] news-room page needs to be filled with some meaningful content – do we have access to such?
- [ ] FB, insta and twitter icons on the footer are not linked
- [ ] Privacy, terms and cookies links on the footer are not linked to proper content
- [ ] A copyright statement is missing on the site

[2022-07-08 04:25] samisa-abeysinghe opened #65 "Admin Portal Issues"
Test round on donor portal done on 8th July 9.30 am
I found the following listed issues

- [x] On home page, aid packages take a while to load and there is a brief screen with “No Data Found” on the screen
- [x] Improve the error message such as “loading …” initializing …”etc.
- [x] Look into loading time – why does it take seconds to load?
- [x] Home page search does not work for aid package filt

[2022-07-08 04:54] jayasanka-sack commented on #54
Sure. Please go ahead

[2022-07-08 08:19] #54 closed

[2022-07-08 08:26] jayasanka-sack opened #67 "Reformat the Donor Portal source code"
**Is your feature request related to a problem? Please describe.**
Currently, the donor portal's source code is not formatted prettier.

**Describe the solution you'd like**
Please format the code with prettier.

[2022-07-08 08:27] RandilaP commented on #67
can i work on this

[2022-07-08 08:46] #67 closed

[2022-07-08 08:48] jayasanka-sack opened #69 "Add copyright statement to the footer"
Add the following copyright statement to the footer:
Copyright © www.elixir.redcross.lk | All rights reserved

Probably on the following area.
<img width="1299" alt="Screenshot 2022-07-08 at 14 17 56" src="https://user-images.githubusercontent.com/33048395/177954804-5b3b1be9-b5b3-4fac-bd32-f260732c206c.png">

[2022-07-08 08:50] jayasanka-sack opened #70 "Link social media icons in the footer"
Link the following:

- Facebook: https://www.facebook.com/pages/Sri-Lanka-Red-Cross-Society/133902706641597
- Twitter : https://twitter.com/#!/SLRedCross
- YouTube : https://www.youtube.com/user/srilankanredcross
- Instagram : https://instagram.com/slredcross?igshid=YmMyMTA2M2Y=

[2022-07-08 08:54] jayasanka-sack opened #71 "Remove Privacy links from the footer"
Remove the following from the footer until we get the content.
- Privacy
- Terms
- Cookies
Just comment them. So that we can add them quickly once the content is available.

[2022-07-08 08:59] jayasanka-sack opened #72 "Create a workflow to run checks on donor portal"

[2022-07-08 10:29] RandilaP commented on #70
can i work on this

[2022-07-08 10:29] jayasanka-sack commented on #70
Sure. Go ahead

[2022-07-08 10:30] RandilaP commented on #69
can i work on this

[2022-07-08 10:31] RandilaP commented on #71
Can I work on this

[2022-07-08 11:56] #70 closed

[2022-07-08 11:56] #69 closed

[2022-07-08 12:05] jayasanka-sack opened #77 "Embed the Red Cross video to the Newsroom page"
**Is your feature request related to a problem? Please describe.**
Please embed this video to the newsroom page

https://www.youtube.com/watch?v=eU9WY5fUs8w

[2022-07-08 12:11] jayasanka-sack opened #79 "Rename "Medical suppliers" link to "Hospital and Suppliers" in the footer"
**Is your feature request related to a problem? Please describe.**
The medical suppliers should be renamed as "Hospital and Suppliers"
<img width="1209" alt="Screenshot 2022-07-08 at 17 39 41" src="https://user-images.githubusercontent.com/33048395/177989493-69287b11-494a-46f5-96ab-9cb8fa2941ab.png">

[2022-07-08 12:14] #71 closed

[2022-07-08 12:17] jayasanka-sack opened #80 "Can't update the status of a pledge"
**Is your feature request related to a problem? Please describe.**
It throws an error when trying to update a pledge

[2022-07-08 12:22] jayasanka-sack commented on #79
Sure

[2022-07-08 12:36] #80 closed

[2022-07-08 12:50] Gravewalker666 opened #83 "Extend the search on admin portal to search by the supplier"
**Is your feature request related to a problem? Please describe.**
The current table is only searchable by name and the status, which should be extended to search from the supplier name as well.

[2022-07-08 13:09] #72 closed

[2022-07-08 13:09] #58 closed

[2022-07-08 13:10] #79 closed

[2022-07-08 13:10] #60 closed

[2022-07-08 17:28] ManojLL commented on #51
can I work on this issue?

[2022-07-09 03:49] jayasanka-sack commented on #51
Sure, go ahead!

[2022-07-09 06:17] jayasanka-sack opened #89 "Remove request medicine link from the footer"
**Is your feature request related to a problem? Please describe.**
Remove Request medicine link on the footer until the business stakeholders come back to us

[2022-07-09 06:22] jayasanka-sack opened #90 "Change Email address on the donors page"
**Is your feature request related to a problem? Please describe.**
There's a typo in the email. The correct one should be [inquiries@redcross.lk](mailto:inquiries@redcross.lk)

https://donor-portal-medicinesfor-lk.vercel.app/donors

[2022-07-09 06:24] RandilaP commented on #89
Can I work on this

[2022-07-09 06:24] RandilaP commented on #90
Can I work on this

[2022-07-09 06:26] YaiyaSam commented on #90
Sure, go ahead!

[2022-07-09 06:29] jayasanka-sack opened #91 "Add login button to the donor page tiles"
**Is your feature request related to a problem? Please describe.**
On the donors page, rather than just asking, "Click the login page to begin registration.” Link the login page then and there.

Also, change text to "Navigate to the login page to begin registration."

[2022-07-09 06:31] jayasanka-sack opened #92 "Update dummy numbers on the News Room page"

[2022-07-09 06:40] nshamit commented on #92
Please include these details:

1. Mr. Naveendra SENARATHNE
Media Focal Point
+94 (71) 433 3331
naveendra.senarathna@redcross.lk

2. Sri Lanka Red Cross Society
National Headquarters
106, Dharmapala Mawatha,
Colombo 07, Sri Lanka
[T] (94) 11 2691095 , (94) 11 2691095
[F] (94) 11 2682675
[E] info@redcross.lk

[2022-07-09 06:41] jayasanka-sack commented on #92
Thanks @nshamit !

[2022-07-09 06:43] nshamit opened #93 "Change copyright for website (once again)"
@jayasanka-sack @YaiyaSam @Gravewalker666 @RandilaP

Change to:
Copyright © elixir.redcross.lk  All rights reserved.

[2022-07-09 06:44] jayasanka-sack commented on #93
Shouldn't it be elixir.redcross.lk?

[2022-07-09 06:45] jayasanka-sack opened #94 "Donate button on the donate-now page does not work"

[2022-07-09 06:47] nshamit commented on #93
Change to:
Copyright © elixir.redcross.lk All rights reserved.

[2022-07-09 06:59] jayasanka-sack opened #95 "News room page needs to be filled with some meaningful content"

[2022-07-09 07:03] #77 closed

[2022-07-09 07:05] #55 closed

[2022-07-09 07:06] jayasanka-sack commented on #92
@RandilaP Could you please work on this?

[2022-07-09 07:19] jayasanka-sack opened #97 "Create demo script for the Demo session 1"
**Is your feature request related to a problem? Please describe.**
Create a demo script for Demo session 1 that is planned to happen on the 10th or 11th.

Here's the list of things that we are planning to fix. (still working on creating issues)
https://github.com/LSFLK/MedicinesforLK/milestone/2

[2022-07-09 07:37] nshamit commented on #97
Refer demo script here: https://docs.google.com/document/d/1Tve4HAdDCX6ONqspX2UGPTsEGcQ1-4zq9JkEwDOThXI/edit#

[2022-07-09 07:41] #90 closed

[2022-07-09 08:30] ManojLL commented on #93
Shall I work on this?

[2022-07-09 08:36] nshamit commented on #93
Yes, please do.

On Sat, Jul 9, 2022 at 2:00 PM Manoj Lakshan ***@***.***>
wrote:

[2022-07-09 08:39] RandilaP commented on #92
sure @jayasanka-sack

[2022-07-09 08:45] #91 closed

[2022-07-09 08:49] #89 closed

[2022-07-09 08:55] jayasanka-sack commented on #93
@ManojLL Please update the admin portal footer as well.

[2022-07-09 08:56] #83 closed

[2022-07-09 09:04] #51 closed

[2022-07-09 11:01] #93 closed

[2022-07-09 12:55] #92 closed

[2022-07-09 13:06] RandilaP opened #104 "Adjust text in newsroom and donors page"
**Is your feature request related to a problem? Please describe.**
Edit texts in Newsroom and donors pages

The following needs to be done.
- Remove unnecessary punctuations from Donors page tiles
- Add a space before the 2nd email address on the news room page

[2022-07-09 13:14] #97 closed

[2022-07-09 16:19] ManojLL opened #107 "The date & time in the comments are not properly formatted"
**Is your feature request related to a problem? Please describe.**
Formate the date and time in the comments as DD/MM/YYY HH: MM

[2022-07-11 04:02] nshamit commented on #95
[Press releases]

- [ ] Microsoft's fundraising efforts, and contribution of Azure resources. Microsoft onboarding of PR resource on 12th July. Aim for press release by 15th. Already passed on Dr. Mahesh's contact for an interview.
- [ ] Helani, Ashok, Red Cross + The Last Word + LSF partnership on platform with now about 30+ volunteers.
- [ ] Global Red Cross offices raise funds for Sri Lanka e.g

[2022-07-11 06:02] nshamit commented on #92
Hi Team, please add the following to the newsroom contacts:

Zafran Packeerally – 070 378 8685 email: zafran.packeerally@redcross.lk

[2022-07-11 09:35] #104 closed

[2022-07-11 09:37] jayasanka-sack opened #110 "Update contacts in the newsroom page"
**Is your feature request related to a problem? Please describe.**
Add following contact to the newsroom page.

Zafran Packeerally
070 378 8685
email: [zafran.packeerally@redcross.lk](mailto:zafran.packeerally@redcross.lk)

Also "Naveendra SENARATHNE" should be "Naveendra Senarathne"

[2022-07-11 09:51] jayasanka-sack opened #111 "Display missing details on create aid package view"
**Is your feature request related to a problem? Please describe.**
There are some missing information on the view. please add them.

[2022-07-11 10:36] nshamit opened #112 "Make the aid packages appear uncollapsed"
Make the created aid packages appear uncollapsed. Allow the user to collapse each need section. Otherwise if you have e.g. 30 needs, it is hard to navigate them in the create aid packages section when they are all collapsed.

![Screen Shot 2022-07-11 at 12 57 46](https://user-images.githubusercontent.com/44461004/178245929-e2b18bd5-79b3-4a24-8ff4-7ae49454ed02.jpg)

[2022-07-11 10:50] jayasanka-sack opened #113 "Units are empty for some medical needs."
**Is your feature request related to a problem? Please describe.**
units of some medical Items are empty. (GET /medicalneeds)

This is the file I uploaded:
[Needs_Upload_success.csv](https://github.com/LSFLK/MedicinesforLK/files/9083280/Needs_Upload_success.csv)

[2022-07-11 10:50] nshamit opened #114 "Change error message when a file is not uploaded properly in upload of supplier quotations"
Change error message when a file is not uploaded properly in upload of supplier quotations.
Change from technical message (parsing) to something more user-friendly. E.g. Check line 1.

![Screen Shot 2022-07-11 at 16 19 06](https://user-images.githubusercontent.com/44461004/178248337-bbb030e9-bfe3-4579-b3ee-cef327b5aa6e.jpg)

[2022-07-11 10:56] jayasanka-sack commented on #112
working on it

[2022-07-11 11:00] Bawanthathilan commented on #110
May I work on this

[2022-07-11 11:02] jayasanka-sack commented on #110
Sure. Go ahead!

[2022-07-11 11:09] #107 closed

[2022-07-11 11:13] nshamit opened #116 "Logos and text on the partners section of website needs to be changed"
- [ ] First logo should be the LSF logo (left-most), matching the text.
- [ ] Second logo should be the Watchdog logo (we need to get this)
- [ ] Third logo is the correct logo. The text needs to change slightly to say:

The Last Word are creatives and brand strategists whose work spans the breadth of brand architecture, design, digital marketing communications and user experience.

![Screen Shot

[2022-07-11 11:19] jayasanka-sack opened #117 "Update the readme file with environment setup instructions"
**Is your feature request related to a problem? Please describe.**
Currently, the readme file does not have setup instructions for the project.

**Describe the solution you'd like**
Update the readme file with environment setup instructions. (only the frontend)

[2022-07-11 11:45] nshamit commented on #64
- [ ] Clicking on donate button on home page does not take you to the aid package -specific details page
- [ ] aid package details page must be connected to the donate now page

[2022-07-11 11:54] anupama-pathirage commented on #113
The reason is units are missing in the master data provided by @akbandara on the medical items.
@akbandara Any update on this?

[2022-07-11 12:32] jayasanka-sack opened #122 "/medicalneeds remainingQuantity is 0"
**Is your feature request related to a problem? Please describe.**
The remaining quantity is 0 for medical needs. It has to be equal to the neededQuantity at first I guess.

[2022-07-11 13:04] nipuna777 opened #123 "Prevent create package with invalid data"
**Actual**
Currently, we can proceed with package creation even when there are validation messages.

![image](https://user-images.githubusercontent.com/5859290/178270629-884293b4-6e23-42cc-8094-7a0026a4fe5c.png)

**Expected**
Make sure that the next button is disabled when there are validation errors in the create step.

[2022-07-11 15:36] jayasanka-sack opened #125 "Pledges are not listing on the pledge status page"
**Is your feature request related to a problem? Please describe.**
Pledges are not listed on the pledge status page because the endpoint has been changed. It should be `aidpackages/${packageID}/pledges`

[2022-07-11 20:00] anupama-pathirage opened #127 "Missing information in `Create aid package` view"
Check the below UI. Following field values are missing.
1. period
2. Total cost

<img width="1417" alt="image" src="https://user-images.githubusercontent.com/16300038/178347574-1fc8a990-18b6-4d8d-b318-1e3d4f9702ec.png">

`/medicalneeds` endpoint provides required details.

<img width="670" alt="image" src="https://user-images.githubusercontent.com/16300038/178348063-c6cd2909-83e6-4669-9cf9-98e6be2

[2022-07-11 20:03] anupama-pathirage opened #128 "Incorrect capitalization in `period` column"
$subject. Check below UI. It should be `Period`

<img width="1398" alt="image" src="https://user-images.githubusercontent.com/16300038/178348437-f3a4769b-65eb-449f-a165-fa85e51c3b7d.png">

[2022-07-11 20:03] anupama-pathirage commented on #122
This is fixed now

[2022-07-11 20:03] #122 closed, assigned to anupama-pathirage, AmilaJ

[2022-07-11 20:11] anupama-pathirage opened #129 "Need id is displayed instead of item name"
$subject. check the below UI.

In the previous step, need name is given as item name. So here also it should be item name.

<img width="1382" alt="image" src="https://user-images.githubusercontent.com/16300038/178349605-b0210d1c-9c0c-481c-87bf-56a49c2511ac.png">

[2022-07-11 20:19] #114 closed

[2022-07-11 20:26] anupama-pathirage commented on #56
This is fixed now.

[2022-07-11 20:26] #56 closed

[2022-07-11 21:12] anupama-pathirage opened #130 "Aid package details goes to pledge status instead of details page"
$subect and to get the correct page , need to access via breadcrumbs.

https://user-images.githubusercontent.com/16300038/178358945-580dd1a2-13d6-4f1d-81ce-f367170c1fde.mov

[2022-07-12 03:22] nshamit opened #131 "Amount figures needs to be shown to 2 decimals."
Because we're the number is with regards to money, we should have the figure to 2 decimals.

- [x] Change the amount figure to include two decimals e.g. 100.50
- [x] If possible include thousand separator commas e.g. 3,500.50

![Screen Shot 2022-07-11 at 18 37 36](https://user-images.githubusercontent.com/44461004/178271555-114c79e6-bd06-4a68-a4ec-6ef3cbc2dbc5.jpg)

[2022-07-12 04:28] nshamit opened #132 "Thousand separators for quantity figures"
- [ ] Thousand separators for figures to make it easier for admin users to work with medicine quantities
![Screen Shot 2022-07-12 at 09 57 19](https://user-images.githubusercontent.com/44461004/178408672-abca0ce3-1c58-4cfa-96fd-0983ca91e13f.jpg)

[2022-07-12 04:43] nshamit opened #133 "Newsroom changes"
- [x] Remove "Media and News" Allows Media Contacts to be the main heading in that section
- [x] Insert a subheading of "News" under the embedded video and before the articles (which have not been included yet).

[2022-07-12 05:00] jayasanka-sack commented on #132
Also, better if we could make the numbers right-aligned.

[2022-07-12 05:31] jayasanka-sack commented on #129
@nipuna777 Could you please look into this?

[2022-07-12 06:20] jayasanka-sack opened #135 "Fetch aid packages from the public API"
**Is your feature request related to a problem? Please describe.**
Currently, the packages are hard coded on the donor portal.

Task list:
- [x] Load packages and my pledges from the API
- [ ] Donate button should be changed according to the logged-in status of the user (it should be `Pledge` for logged-in users)
- [ ] Remove Donate now button from completed packages

[2022-07-12 06:22] jayasanka-sack commented on #130
Yeah wiring of buttons is inverted (pledge details and aid package details go to opposite page)

[2022-07-12 06:25] #133 closed

[2022-07-12 06:34] anjula-sack commented on #130
Hello @anupama-pathirage @jayasanka-sack, I would like to work on this.

[2022-07-12 07:05] nshamit opened #136 "Website donor page text error"
- [ ] Text should read:
For all inquiries, please email us at inquiries@redcross.lk

Typo: "emails us"

![Screen Shot 2022-07-12 at 12 33 01](https://user-images.githubusercontent.com/44461004/178429377-8a260a97-01ae-47a2-9e3a-c4a1efe9731f.jpg)

[2022-07-12 07:09] nshamit opened #137 "Website Hospitals and Suppliers Page text error"
- [ ] Text should read:
For all inquiries, please email us at inquiries@redcross.lk

Typos
- "emails us"
- "inquires"

![Screen Shot 2022-07-12 at 12 36 26](https://user-images.githubusercontent.com/44461004/178429851-4eb52863-3f54-4a33-ae4b-2a46bd6239b3.jpg)

[2022-07-12 07:20] jayasanka-sack commented on #130
Sure!

[2022-07-12 07:24] #117 closed

[2022-07-12 07:24] #111 closed

[2022-07-12 07:25] #110 closed

[2022-07-12 07:25] #112 closed

[2022-07-12 07:46] jayasanka-sack commented on #116
SEF logo and the text can be found here:

https://drive.google.com/drive/folders/1lgIbfSlriZhxODD_Tm-SSPoOS4yQleMY?usp=sharing

[2022-07-12 07:54] anjula-sack opened #139 "Changing the signInRedirectURL in the config doesn't work"
**Is your feature request related to a problem? Please describe.**
When developing locally signing redirection needs to change to `http://localhost:3000` but changing the signInRedirectURL gives an error.
<img width="558" alt="Screenshot 2022-07-12 at 1 09 05 PM" src="https://user-images.githubusercontent.com/43912578/178438802-991b9293-9fa7-4534-8336-8f158cd8857c.png">

**Describe the solution yo

[2022-07-12 07:55] jayasanka-sack commented on #139
@NipunaMarcus Could you please look into this?

[2022-07-12 08:34] jayasanka-sack commented on #139
@anjula-sack Could you please try `https`?

[2022-07-12 08:39] anjula-sack commented on #139
I'm getting this.
<img width="1680" alt="Screenshot 2022-07-12 at 2 08 51 PM" src="https://user-images.githubusercontent.com/43912578/178448175-2a742771-0b63-48fd-8e88-6aed273ca3f8.png">

[2022-07-12 08:43] jayasanka-sack commented on #139
@NipunaMarcus I think we should configure it from the Asgardeo side.

[2022-07-12 08:59] jayasanka-sack commented on #139
@anjula-sack Could you please check `http`?  Nipuna whitelisted it.

[2022-07-12 09:06] anjula-sack commented on #139
still same

[2022-07-12 09:09] anjula-sack commented on #139
getting this as well
<img width="711" alt="Screenshot 2022-07-12 at 2 38 49 PM" src="https://user-images.githubusercontent.com/43912578/178454335-6fa939c9-5925-49e2-bfbf-2966bd8eb71a.png">

[2022-07-12 09:35] jayasanka-sack commented on #128
Sure. Please go ahead.

[2022-07-12 09:37] jayasanka-sack commented on #123
@anupama-pathirage this has to be fixed on the backend as well, right?

[2022-07-12 09:43] anjula-sack commented on #139
It does work with `http`. I was changing the config previously.

[2022-07-12 10:04] #136 closed

[2022-07-12 10:14] jayasanka-sack commented on #139
For me, changing the  signInRedirectURL to `http://localhost:3000` causes an infinite redirection loop

[2022-07-12 10:57] nipuna777 commented on #129
@jayasanka-sack Yup, we don't do the calculations yet. I'll fix this.

[2022-07-12 10:59] #131 closed

[2022-07-12 11:31] nshamit opened #147 "Check that inquiries@redcross.lk works"

[2022-07-12 11:47] #128 closed, assigned to anjula-sack

[2022-07-12 11:47] #125 closed

[2022-07-12 11:48] #130 closed

[2022-07-12 13:29] nshamit opened #152 "Donor views my pledges (all the pledges the donor org has already made)"
- [ ] See: My pledges on the donor portal home page after the donor logs in

![Screen Shot 2022-07-12 at 18 58 24](https://user-images.githubusercontent.com/44461004/178501390-5196a1ec-1777-4ca3-85cf-9527aa713449.jpg)

[2022-07-12 13:32] nshamit opened #153 "Donor views aid packages and makes a pledge"
- [ ] Donor views aid packages and makes a pledge

![Screen Shot 2022-07-12 at 19 01 44](https://user-images.githubusercontent.com/44461004/178502010-db7efbbe-5daa-48a3-8644-8cc03bed8d02.jpg)

[2022-07-12 13:32] #129 closed

[2022-07-12 13:36] nshamit opened #154 "Donor edits the pledge amount"
- [ ] Donor edits the pledge amount e.g. First pledged $7,500. Then wants to go back in and pledge a higher amount, say $10,000.

Workflow:
- Donor goes to My pledges
- Donor clicks on an aid package already pledged to
- Donor sees Edit button
- Once pledge amount is typed in, donor can click on Update button

![Screen Shot 2022-07-12 at 19 05 26](https://user-images.githubusercontent.com/44461004

[2022-07-12 13:37] nshamit opened #155 "Donor checks the status of the closed aid package (order placed, order shipped, order received)."
- [ ] Donor checks the status of the closed aid package (order placed, order shipped, order received).

![Screen Shot 2022-07-12 at 19 01 44](https://user-images.githubusercontent.com/44461004/178503047-e117cbb0-932b-4bf7-a01c-279d1ac59550.jpg)

[2022-07-12 13:53] #137 closed

[2022-07-12 13:54] nipuna777 commented on #152
Can I work on this? @jayasanka-sack

[2022-07-12 14:10] nshamit opened #156 "Create aid package - supplier detail needs to show the CIF (medicine price) value as well"
- [ ] Create aid package - supplier detail needs to show the CIF (medicine price) value as well.

[2022-07-12 14:39] jayasanka-sack opened #158 "Can't publish an Aid Package"
Nothing happens when clicking on the publish page.

[2022-07-12 14:40] jayasanka-sack opened #159 "Upload pages are not working"
File upload pages are not working.

[2022-07-12 15:16] jayasanka-sack opened #160 "Edit pledge page is not working"
**Is your feature request related to a problem? Please describe.**
The edit pledge page is not working.

1. Click on an edit button of a donor here:
https://admin-portal-rouge.vercel.app/packages/6/pledge-status

[2022-07-12 16:08] nipuna777 commented on #156
@nshamit Would it be possible to get a screenshot of where we would want to see this information?

[2022-07-12 16:21] jayasanka-sack commented on #154
@anupama-pathirage It seems there's no endpoint to get a pledge by `donorID` AND `aidPackageID`

Could you please check it?

[2022-07-12 16:40] #158 closed

[2022-07-12 16:45] jayasanka-sack commented on #156
It should be displayed here:

Also, we should display the unit price, as well.
<img width="1346" alt="Screenshot 2022-07-12 at 22 14 35" src="https://user-images.githubusercontent.com/33048395/178547671-6ecb45e9-80d1-4985-aa5c-97948de9491c.png">

[2022-07-12 17:16] anjula-sack commented on #160
I would like to work on this @jayasanka-sack

[2022-07-12 17:46] YaiyaSam commented on #160
oh wait 😶

[2022-07-12 17:47] YaiyaSam commented on #160
sorryyyy i just sent the pr cuz i didnt see it was assigned to anyone

[2022-07-12 17:48] anjula-sack commented on #160
no worries

[2022-07-12 17:54] #160 closed

[2022-07-12 18:02] jayasanka-sack commented on #159
This is not working because it is throwing the following error:

"Failed to execute 'postMessage' on 'Worker': FormData object could not be cloned."

The catch function is catching only Axios errors, therefore the above error is being ignored.

[2022-07-12 18:33] #135 closed

[2022-07-12 18:51] jayasanka-sack commented on #159
Created a temporary fix:
https://github.com/LSFLK/MedicinesforLK/pull/167

Probably the issue is on how we create the `HttpRequestConfig` or within the asgardeo SDK.

Observations:
It throws: "Failed to execute 'postMessage' on 'Worker': FormData object could not be cloned." when trying to send the request.

It also occurs when you provide both request and response datatypes through generics (on f

[2022-07-12 19:07] #159 closed

[2022-07-13 04:09] #156 closed

[2022-07-13 04:13] jayasanka-sack commented on #155
Fixed at: https://github.com/LSFLK/MedicinesforLK/pull/164

The statuses we have on the implementation are a bit different, btw.

[2022-07-13 04:13] #155 closed

[2022-07-13 04:18] jayasanka-sack commented on #154
Thanks @AmilaJ !

[2022-07-13 04:28] jayasanka-sack commented on #154
We need the following as well,

1. GET /{donorID}/aidpackages/{packageID}
We don't need this API because the page is public. It should be `/aidpackages/{packageID}` instead.
2. All aid package resources on the donor API should not send draft aid packages to the client.

btw, `/{donorID}/aidpackages/{packageID}/pleges` is sending an array. Since a donor can have one pledge per package, it should be

[2022-07-13 04:30] Gravewalker666 commented on #154
Yeah, it should be, on the frontend I wrote the code to get the zeroth element on the array for now.

[2022-07-13 05:56] jayasanka-sack opened #171 "GET /{donorID}/aidPackages invalid received amounts"
**Is your feature request related to a problem? Please describe.**
GET /{donorID}/aidPackages is sending invalid received amounts.

This is how the same package data in two different endpoints:

GET /{donorID}/aidPackages
![telegram-cloud-photo-size-5-6230772373171318831-y](https://user-images.githubusercontent.com/33048395/178660337-50b9e11f-0f82-4dbe-b4af-eadcd83e77ad.jpg)

GET /{donorID}/aidPac

[2022-07-13 05:56] jayasanka-sack commented on #171
@AmilaJ @anupama-pathirage Could you please look into this?

[2022-07-13 06:23] jayasanka-sack opened #172 "Refreshing aid package details page won't load content"

[2022-07-13 06:24] jayasanka-sack opened #173 "Admin navigation: "Aid packages" should be renamed "Create Aid Package""

[2022-07-13 07:09] #152 closed

[2022-07-13 07:09] #94 closed

[2022-07-13 07:09] #153 closed

[2022-07-13 07:09] #154 closed

[2022-07-13 07:30] jayasanka-sack commented on #139
This has been fixed. Closing the issue.

[2022-07-13 07:50] #172 closed

[2022-07-13 07:50] #173 closed

[2022-07-13 08:13] #171 closed

[2022-07-13 08:13] #139 closed

[2022-07-13 09:34] #127 closed

[2022-07-13 09:36] jayasanka-sack opened #179 "Update contact details on the newsroom page"
**Is your feature request related to a problem? Please describe.**
Zafran Packeerally should be changed to Mr. Zafran Packeerally on the newsroom page.

[2022-07-13 10:13] nshamit opened #181 "Instead of using a stock photo for the home page, change this image to the make Elixir, Medicines for Sri Lanka branding clearer"
- [ ] Keep text square with "Sri lanka is going through an unprecedented..."
- [ ] See home page logo (there is Elixir, Medicines for Sri Lanka). Use this text section for the stock image.

![Screen Shot 2022-07-13 at 15 40 14](https://user-images.githubusercontent.com/44461004/178709950-27574a23-f037-414f-8bc8-bb451444696a.jpg)

[2022-07-13 10:14] #179 closed, assigned to RandilaP

[2022-07-14 14:38] nshamit opened #183 "Donor Portal Login (currently hack in place)"
Register on the login page does not work

[2022-07-14 14:39] nshamit commented on #181
Fuller website changes will be communicated to us by Ashok and Sanith. Let's wait for that.

[2022-07-14 14:39] nshamit commented on #64
Remaining issues have been created as separate issues.

[2022-07-14 14:39] #64 closed

[2022-07-14 14:43] nshamit commented on #147
Arosha and Sanith will be taking responsibility for this. Tharaka is the recipient of emails from this address.

[2022-07-14 14:43] #147 closed

[2022-07-14 14:47] nshamit opened #184 "Check time stamps and make sure they are in SL time."

[2022-07-14 14:51] nshamit opened #185 "If aid package goal is reached in full, you cannot update (edit) your pledge and other related issues"
- [x] If aid package goal is reached in FULL, you cannot update (edit) your pledge.
- [x] If an aid package goal is reached in PART, you CAN edit your pledge.
- [ ] Editing a pledge with 0 should be allowed (to remove a previous pledge amount)

[2022-07-14 14:52] nshamit opened #186 "Donor page login redirects to a page with no component"

[2022-07-14 14:56] nshamit commented on #132
Fields:

- [ ] Quantity remaining
- [ ] Remaining need
- [ ] Max

[2022-07-14 15:02] nshamit opened #187 "Less technical error message is required for supplier quotation upload"
- [ ] Less technical error message is required for supplier quotation upload

![Uploading Screen Shot 2022-07-14 at 20.27.09.jpg…]()

[2022-07-14 15:06] nshamit opened #188 "The description of an aid package is not editable once published"
- [ ] The description of an aid package is not editable  once published.

We can make sure the Aid package title cannot be changed, but that the description can be edited. This enables RC to edit the hospitals/ beneficiaries that will receive an aid package.

Keeping the name the same is important because an aid package could receive pledges once published and donors need to make sure that they ar

[2022-07-14 15:10] nshamit opened #189 "Creating an aid package and reducing the medicine quantity available from a particular supplier does not prevent the creation of another aid package with the same quantity of medicines from the same supplier."
- [ ] Creating an aid package and reducing the medicine quantity available from a particular supplier does not prevent the creation of another aid package with the same quantity of medicines from the same supplier.

When an aid package is created utilizing 430/435 units of a medicine, when I create  a second aid package with the same medicine, I can still allocate 430 units out of 435 instead of a

[2022-07-14 15:14] nshamit opened #190 "In the Draft aid package, if the number of units is reduced, the remaining units should be added back to the max quantity"
- [ ] In the Draft aid package, if the number of units is reduced, the remaining units should be added back to the max quantity

- [ ] In the Draft aid package, if the number of units of medicine is increased, the remaining units should be reduced from the max quantity amount. There should be an error message that is displayed when the max quantity is exceeded.  The max quantity should either be d

[2022-07-14 15:15] nshamit opened #191 "Currently, you can edit the quantity of medicines in an aid package for a published aid package."
- [x] You can edit the quantity of medicines in an aid package for a published aid package.

[2022-07-14 15:17] nshamit opened #192 "Restricted views in admin portal according to user role (Suppliers and Red Cross admin)"
Currently user roles have not been implemented. There needs to be a restriction of access to certain screens depending on the login of user :
- Supplier
- Red Cross

[2022-07-14 15:18] nshamit opened #193 "Needs CSV issues / requirements"
- [ ] Needs CSV and should be downloadable and then easily uploaded, but is throwing errors.
- [ ] Needs for medical supplies needs to work without throwing errors.

[2022-07-14 15:19] nshamit opened #194 "Statuses for aid packages should only be able to be updated one-way validation on the statuses."
- [ ] Statuses for aid packages should only be able to be updated one-way validation on the statuses. Currently you can move forwards and backwards on the statuses.

[2022-07-14 15:21] nshamit opened #195 "Add to pharmaceutical suppliers to the backend"
Add two additional suppliers to the backend

- [x] Alliance Pharma
- [x] Pan Malayan

[2022-07-14 15:23] nshamit opened #196 "Total pledges in the My Pledges section to show total amount a donor has pledged across aid packages."
- [ ] Total pledges in the My Pledges section to show total amount a donor has pledged across aid packages.

[2022-07-14 15:26] nshamit opened #197 "USD should be capitalized"
![Screen Shot 2022-07-14 at 20 55 37](https://user-images.githubusercontent.com/44461004/179018908-e4dfd3cc-ef5b-4711-87b0-74177f58e928.jpg)

[2022-07-14 15:35] nshamit opened #198 "Validation on donor status and aid package status"
- [ ] Should not be able to have a donor status as "pledged" and an aid package status as "shipped".
Statuses should align this way:

1. When aid package is "published", pledge status can be "pledged"
2. When aid package is "awaiting payment", pledge status can be "payment initiated" or "payment confirmed"
3. When aid package is "ordered", "shipped", "received at MOH" or "delivered", pledge status

[2022-07-14 15:35] nshamit commented on #187
![Screen Shot 2022-07-14 at 20 27 09](https://user-images.githubusercontent.com/44461004/179020950-37dd19c9-f4a4-4f9c-906e-6a29574a7df9.jpg)

@anupama-pathirage updated, sorry for missing it.

[2022-07-14 15:38] anupama-pathirage commented on #187
Thanks,

Can you please suggest a sample error message for this? I added `Check line 1` to make it non technical, but without exactly telling which value is causing the issue (i.e. `Amount Available` in this case) it will be hard for the user to find the issue in the file.

[2022-07-14 15:41] jayasanka-sack commented on #197
Sure go ahead @anjula-sack !

[2022-07-14 17:29] #197 closed

[2022-07-15 04:14] anjula-sack opened #200 "Configure airbnb eslint in the project"
**Is your feature request related to a problem? Please describe.**
- ESLint is a static code analysis tool for identifying problematic patterns found in JavaScript code. Eslint is a must-have in every project.

**Describe the solution you'd like**
- Configure eslint in the project
- Use airbnb styleguide

[2022-07-15 04:15] anjula-sack commented on #200
I would like to work on this

[2022-07-15 04:26] jayasanka-sack commented on #200
Sure! Could you please add it to both projects?

Let's come up with two PRs.

[2022-07-15 06:19] anjula-sack commented on #200
sure

[2022-07-16 03:47] anupama-pathirage commented on #195
Done. Both were added to db.

[2022-07-16 03:47] #195 closed

[2022-07-16 04:02] anupama-pathirage commented on #113
Master items with the patched unit details are added to DB. Also above mentioned requirements for uploads were done already.

[2022-07-16 04:03] #113 closed

[2022-07-16 11:12] #192 closed

[2022-07-16 16:48] ManojLL commented on #198
shall I work on this?

[2022-07-16 16:51] YaiyaSam commented on #198
sure. go ahead

[2022-07-16 17:13] ManojLL commented on #198
@YaiyaSam What is the email and PW for login to the admin portal?

[2022-07-16 17:17] YaiyaSam commented on #198
login username: nipunamarcus2@gmail.com
pw: liveSession10

[2022-07-16 18:05] YaiyaSam commented on #198
@ManojLL also change these two lines in the config.json file

  "signOutRedirectURL": "http://localhost:3000",

[2022-07-17 13:33] nshamit opened #205 "When editing aid package medicine quantities, need to be able to see quantities return to remaining need quantity"
- [x] When editing aid package medicine quantities, need to be able to see quantities return to remaining need quantity
- [x] Should be able to see the time period associated with the medicine need e.g.  7/1/2022
- [ ] When closing an aid package, should be able to edit quantities of medicine and see the quantity adjustment (adding back medicines, or increasing quantities in the aid package) corre

[2022-07-17 13:48] akbandara commented on #113
Tested - confirm that upload of Needs and Supplier Quotation CSVs is working seamlessly

[2022-07-17 13:51] nshamit commented on #191
@YaiyaSam revision as discussed

- [ ] We should be able to register the initial amount we need to raise for an aid package.
- [ ] We should still be able to edit the quantities of medicine in the aid package to close the aid package, and see 1) the revised medicines quantities and 2) corresponding $ value to the aid package in addition to the initial 1) medicines quantities and 2) corresponding $

[2022-07-17 13:55] akbandara opened #207 "Quotation prices below $0.10 being stored as $0.00"
If the unit price in a quotation is below $0.10 in the CSV, it is being stored as $0.00 in the system. This is affecting the following items in the CSV attached:

<google-sheets-html-origin style="font-style: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-

[2022-07-17 14:00] nshamit opened #208 "Change publish button to “save” in admin portal>aid packages"
- [ ] Change publish button to “save”  in admin portal>aid packages

[2022-07-17 14:03] nshamit opened #209 "Check status on Medical Supplies> Kalubowila for Received at MOH"
- [ ] MOH v MoH (FE)

[2022-07-17 14:04] nshamit opened #210 "Should be able to delete draft and any status packages before publishing."
- [ ] Should be able to delete draft and any status packages before publishing.

[2022-07-17 14:05] nshamit opened #211 "Home on navigation bar"
- [ ] Home on navigation bar

[2022-07-17 16:07] anupama-pathirage commented on #187
Closing this as we are not getting this kind of csv as per the comment in https://github.com/LSFLK/MedicinesforLK/issues/113#issuecomment-1184609815

[2022-07-17 16:07] #187 closed

[2022-07-17 16:08] anupama-pathirage commented on #193
Closing as per the comment https://github.com/LSFLK/MedicinesforLK/issues/113#issuecomment-1186523817

[2022-07-17 16:08] #193 closed

[2022-07-17 17:13] #207 closed

[2022-07-17 18:11] anupama-pathirage commented on #207
The issue is fixed, and the file is re-uploaded. so the data in the backend is rectified.

[2022-07-17 18:47] akbandara commented on #207
Tested and confirmed that this issue is fixed.

[2022-07-17 18:48] akbandara commented on #193
Confirm that this has been tested and works correctly now

[2022-07-18 07:33] AmilaJ commented on #189
Restriction added to prevent the exceeding amounts on the aid package more than the medical need.

[2022-07-18 07:33] #189 closed

[2022-07-18 07:51] nshamit commented on #205
- [ ]  Should be able to see the time period associated with the medicine need e.g. 7/1/2022
I think the above is still left to be done @YaiyaSam right?

[2022-07-18 10:21] nshamit commented on #190
- [ ] There should be an error message that is displayed when the max quantity is exceeded.  The max quantity should either be displayed for the medicine, or visible in an error message.

This the component that is left to do @YaiyaSam @NipunaMarcus @Gravewalker666

[2022-07-18 12:15] ashokvasa opened #212 "When the User clicks on "Publish" an aid package, the system should automatically move the status to "Published""
Currently the user has to click on publish aid package
and also come to the status workflow and click on "published"
to make the aid package appear on the public website.

[2022-07-18 12:37] nshamit opened #213 "Create aid package>top row of each medicine in the create aid package list should list which supplier provides the medicine"
- [ ] Create aid package>top row of each medicine in the create aid package list should list which supplier provides the medicine.

Otherwise,  the creator of aid packages has to look at each row to find the supplier info.

[2022-07-18 15:26] nipuna777 commented on #213
@nshamit Could you elaborate on how this should look like?
Since we could have many suppliers for the same medicine, fitting them into the top row might not be possible?

[2022-07-18 15:54] nshamit commented on #213
I'd put this after urgency, and pull the supplier names, smaller text into that top row.
AND
I'd include some kind of sort/filter mechanism

Those are just suggestions.

[2022-07-18 16:38] nshamit commented on #208
Hi, this needs to be deleted. There was a new requirement today, Manoj.
Check the other issue on publish buttton.

On Mon, 18 Jul 2022 at 21:31, Manoj Lakshan ***@***.***>
wrote:

--
Sherazad Hamit
Executive Director
Lanka Software Foundation <https://opensource.lk/>
M: +94 777 37 49 57
E: ***@***.***
https://www.linkedin.com/in/sherazadhamit/

[2022-07-19 03:44] ManojLL commented on #196
shall I work on this?

[2022-07-19 03:47] nshamit commented on #196
Please do @ManojLL .

[2022-07-19 13:03] #132 closed

[2022-07-19 13:17] jayasanka-sack commented on #212
We are keeping packages in memory until we hit the publish button. Therefore we need a way to save a draft package.
I think we need another button named "Save draft".

[2022-07-19 13:23] jayasanka-sack commented on #198
@ManojLL @YaiyaSam
I think this has to be handled on the backend. Not from the front end.

In order to achieve the requirement. The pledge status should be changed when changing the status of a package.

CC: @anupama-pathirage @AmilaJ

[2022-07-19 13:36] jayasanka-sack commented on #209
This has to be fixed on both FE and the BE.

CC: @anupama-pathirage @AmilaJ

@YaiyaSam please update both donor and admin portals once the backend is updated.

[2022-07-19 13:37] jayasanka-sack commented on #186
We have to wait until the Donor login is resolved. (I think it would automatically fix this issue.)

[2022-07-19 13:38] jayasanka-sack commented on #186
https://github.com/LSFLK/MedicinesforLK/issues/183

[2022-07-19 13:40] jayasanka-sack commented on #185
@Gravewalker666 This is already fixed, right?

[2022-07-19 13:42] jayasanka-sack commented on #184
@anupama-pathirage @AmilaJ Could you please fix this? I think the times are from different time zone.

[2022-07-19 14:10] nipuna777 commented on #212
@jayasanka-sack I think this is a good idea, but as things are right now, there won't be a major difference between 'published' and 'draft' packages?

Maybe we can keep only publish for now and add in 'save draft' in a future version?

[2022-07-20 04:46] jayasanka-sack commented on #212
Draft packages won't be displayed on the public website.

If we need to save a package without publishing, we need to save it as a draft, right?

[2022-07-20 08:02] jayasanka-sack commented on #211
@nshamit What you are looking for is a button to go back, isn't it? Or a separate menu item named `Home` or `Aid packages`?

[2022-07-20 08:06] #194 closed

[2022-07-20 08:12] Gravewalker666 commented on #185
Ah yeah, this is fixed except for the 3rd point I think.
Can somebody else please work on that? I'm a bit busy with some academics.

[2022-07-20 08:21] nshamit commented on #211
@NipunaMarcus suggested we include a Home button on the main website home page navigation menu.

[2022-07-20 08:24] jayasanka-sack commented on #185
It's alright, @Gravewalker666!

@nshamit What if we can add a remove button, instead?

@YujithIsura Can you look into this?

[2022-07-20 08:40] YaiyaSam commented on #210
hey @anjula-sack  @YujithIsura would it be possible for one of u guys pick up this issue?

[2022-07-20 08:40] anjula-sack commented on #185
@Gravewalker666 @jayasanka-sack I would like to work on this.

[2022-07-20 08:43] anjula-sack opened #219 "Configure airbnb eslint for the admin portal"
**Is your feature request related to a problem? Please describe.**
- ESLint is a static code analysis tool for identifying problematic patterns found in JavaScript code. Eslint is a must-have in every project.

**Describe the solution you'd like**
- Configure eslint in the project
- Use airbnb styleguide

This PR can be referred: https://github.com/LSFLK/MedicinesforLK/pull/201

[2022-07-20 08:44] jayasanka-sack commented on #185
Thanks, Please go ahead @anjula-sack !

[2022-07-20 09:28] anjula-sack commented on #210
I will be able to do this. can you assign me?

[2022-07-20 09:34] #185 closed

[2022-07-20 09:37] jayasanka-sack commented on #210
@nshamit Could you please elaborate more on the requirement?

Is it about implementing a delete button on detailed view of an aid package?

[2022-07-20 11:22] nipuna777 commented on #212
That's a good point. I can add two buttons, the functionality would be identical apart from the status.

[2022-07-20 12:46] akbandara opened #221 "When supply quantities are added for different periods this should create a separate aid package"
When creating aid packages, a separate package should be created for each Supplier / Period combination for which quantities are assigned. For example, if the administrator assigns the following quantities, it should result in two aid packages for Zydus - one for July and one for Aug

<img width="1410" alt="Screenshot 2022-07-20 at 13 44 50" src="https://user-images.githubusercontent.com/3705261/1

[2022-07-20 13:03] #213 closed

[2022-07-21 03:21] #212 closed

[2022-07-21 03:36] nshamit opened #222 "Dates are presented in DD/MM/YY and MM/DD/YY formats. Let's stick with DD/MM/YY"
- [ ] Dates are presented in DD/MM/YY and MM/DD/YY formats. Let's stick with DD/MM/YY

![Screen Shot 2022-07-20 at 18 08 14](https://user-images.githubusercontent.com/44461004/180124620-e73ab0d8-e7a7-4b71-8adb-adbf0e408a6c.jpg)

[2022-07-21 04:12] nshamit commented on #210
Yes, but on the inside of the details page  (Aid packages>Details (button)> takes you to the detailed view as below.
The rationale here is that because it takes a lot of work to put together an aid package, we don't want users to accidentally delete it. By having the delete button on the aid package details page, they have to review the aid package details before they are able to delete it which e

[2022-07-21 04:19] anjula-sack commented on #210
Thanks. Got it

[2022-07-21 04:31] nshamit commented on #210
@AmilaJ @anupama-pathirage can you help with this as Jay is unavailable today.

[2022-07-22 06:36] AmilaJ commented on #205
added period to aidpackageitem. supplier is available already inside the aidpackageitem->quotation->supplier element on response

[2022-07-22 10:08] anjula-sack commented on #222
I would like to work on this @nshamit

[2022-07-22 10:13] nshamit commented on #222
Please go ahead @anjula-sack

[2022-07-22 10:14] nshamit commented on #222
can you also include under the words "period" and "expiry date"  in light grey, (DD/MM/YY) as a guide for the users?

[2022-07-22 10:16] anjula-sack commented on #222
sure

[2022-07-22 10:39] nshamit opened #227 "Help and Analytics is not wired"
- [ ] Help is not wired
- [ ] Analytics is not wired

May need to wait until v3 UI designs have been shared with us from the Design team (The Last Word/Joys Chokatte).

[2022-07-22 10:40] nshamit commented on #65
Separate issues have been created for

- [ ] loading
- [ ] help, analytics not being wired
- [ ] login
- [ ] loading issue.

Rest of the issues are closed.

[2022-07-22 10:40] #65 closed

[2022-07-22 10:42] nshamit opened #228 "Aid packages loading issue"
- [ ] Takes a long time to load the aid packages list and create aid packages list.

[2022-07-22 10:43] YujithIsura opened #229 "Adding Loading overlay to the login"

[2022-07-22 10:52] nshamit opened #230 "Production environment for RC users to enter historical data of aid packages and donations."
- [ ] Production environment for RC users to enter historical data of aid packages and donations.

[2022-07-22 10:55] nshamit opened #231 "Add information on Choreo, Asgardeo, React with links to them and versions in the onboarding wiki"
- [ ] Can we please add more information to this on the technology stack used e.g. Choreo, Asgardeo, React with links to them and versions in the onboarding wiki (home page)

[2022-07-22 11:00] #188 closed

[2022-07-22 12:22] nshamit commented on #191
What is left to be done:

We require the period information (1/7/2022) of the medicine to be included in 1) The list of aid packages and 2) the detailed aid package view.

This is because when we’re looking at the aid package list or the detailed aid package view, the user cannot prioritize 1/7/2022 aid packages over other periods for editing / closure.

![Screen Shot 2022-07-22 at 17 50 00](https

[2022-07-22 12:24] nshamit commented on #205
What is left to be done:

We require the period information (1/7/2022) of the medicine to be included in 1) The list of aid packages and 2) the detailed aid package view.

This is because when we’re looking at the aid package list or the detailed aid package view, the user cannot prioritize 1/7/2022 aid packages over other periods for editing / closure.

![Uploading Screen Shot 2022-07-22 at 17.50

[2022-07-22 12:33] #211 closed

[2022-07-22 12:49] nshamit commented on #123
needs to be validated on the backend as well. currently validated on FE.

[2022-07-22 12:54] jayasanka-sack commented on #227
Please remove above two buttons

[2022-07-22 16:09] nipuna777 commented on #191
There are two ways an aid package could go to the 'published' state.

1. User publishes a new aid package from the aid package creation page
2. User publishes a draft aid package and then moves it into the published state.

We can add a comment after each of these requests.
I will make that change to unblock this issue.

---

But I don't think that this is the right solution.
If we want a log of c

[2022-07-23 03:58] nshamit opened #234 "Website home page changes"
- [ ] Include video embedded in Newsroom in the home page instead
- [ ] Insert Our Approach section
- [ ] Insert grey map section (stock image in google drive)
- [ ] Insert ACCOUNTABILITY AND TRANSPARENCY SECTION
- [ ] KEEP the current leadership section, but call it LEADERSHIP TEAM
- [ ] KEEP existing partners
- [ ] Insert Volunteers section
- [ ] Insert image  and footer

![About Us](https://use

[2022-07-23 04:01] nshamit opened #235 "Website detailed aid package changes"
On this page : https://donor-portal-medicinesfor-lk.vercel.app/package/9

- [ ] Insert the footer

![Detail aid package](https://user-images.githubusercontent.com/44461004/180589729-f1116201-8b25-4d43-9d0d-42e5f088811a.jpeg)

[2022-07-23 04:04] nshamit opened #236 "Website Doctors and Suppliers page changes"
On this page: https://donor-portal-medicinesfor-lk.vercel.app/suppliers

- [x] Change the title to Doctors and Suppliers
- [ ] Add footer
- [x] Change stock image (if necessary)

![Doctors and Supplier](https://user-images.githubusercontent.com/44461004/180589783-8deaa89d-cb69-4f4d-a5d5-1b4148619ef5.jpeg)

[2022-07-23 04:13] nshamit opened #237 "Website 'payment' flow"
Access this file: https://opensourcelk.slack.com/files/UDF4HA4TZ/F03QPBA2MB6/donate_flow_change_22-jul-2022.pptx  for details on the flow:

Step 1: Go from an aid package on the home page to the detailed view of an aid package in the goal pending tab
![Screen Shot 2022-07-23 at 09 38 56](https://user-images.githubusercontent.com/44461004/180589914-d1a209cb-7c36-47e1-a962-ebcf999e4eff.jpg)

Step 2:

[2022-07-23 04:14] nshamit opened #238 "Website Donate Now Page changes"
On this page
https://donor-portal-medicinesfor-lk.vercel.app/donate-now

- [ ] add footer

[2022-07-23 04:18] nshamit opened #239 "Website Home Page Changes"
- [x] Add graphic above the aid packages (content to be provided)
- [ ] KEEP the My Pledges, Goal Pending and Goal Reached buttons the same. Don't change these buttons. The UI design has not been updated properly to reflect this.

- [x] Navigation bar:
Home
About
How to donate
Medical suppliers
Newsroom

![Home Page Website](https://user-images.githubusercontent.com/44461004/180590126-0d1ebf36-e04

[2022-07-23 04:23] nshamit opened #240 "Website How to Donate Page changes (formerly Donors page)"
On this page: https://donor-portal-medicinesfor-lk.vercel.app/donors

- [x] Have two boxes:
Individual Donors
Charities, Foundations and Corporations

Please note the UI design has not been updated to reflect this. These updates are from a conversation I had with the business stakeholders on the evening of 22 July.

- [x] Add footer
- [x] Change title : How to Donate

![Uploading How to donate.jpe

[2022-07-23 04:27] nshamit opened #241 "Website newsroom page changes"
On this page: https://donor-portal-medicinesfor-lk.vercel.app/news-room

- [x] Change title to media and news, and change placement of Media Contacts title as per image
- [x] Remove text about novel corona virus
- [x] KEEP existing content / contact information
- [x] Insert footer
- [x] Change cover image
![Newsroom](https://user-images.githubusercontent.com/44461004/180590351-2725abd2-3510-43e7-8

[2022-07-23 05:23] anjula-sack commented on #241
I would like to work on this, can you assign me? @nshamit

[2022-07-23 07:53] dinuka-rp commented on #236
@nshamit can I know where to get the stock image used in the UI here?
Would be great if I could get the link to the image itself

[2022-07-23 11:30] #221 closed

[2022-07-23 11:31] #205 closed

[2022-07-23 11:31] nshamit commented on #236
Check the bookmark bar on the slack channel. Website v3 folder has stock photos

[2022-07-23 12:41] udda1996 commented on #210
I can start working on this.

[2022-07-23 13:02] #222 closed

[2022-07-23 13:04] anjula-sack commented on #219
@jayasanka-sack can you assign me?

[2022-07-23 13:05] jayasanka-sack commented on #219
Sure, feel free to self-assign issues :)

[2022-07-23 22:31] muthulee commented on #227
I can work on removing buttons.

[2022-07-24 11:54] #236 closed

[2022-07-24 11:55] #191 closed

[2022-07-24 12:46] dinuka-rp commented on #237
The pdf file link doesn't seem to work for some reason. @nshamit

![image](https://user-images.githubusercontent.com/47103883/180647552-2110e996-54ad-44eb-9a61-3ad1406bee2f.png)

---

In step 2, is it necessary to include an input field to record the amount to be donated?
Is that only for users who have already logged in and have chosen which kind of donor they are?

The rest of the flow looks cle

[2022-07-25 03:50] muthulee commented on #227
Hi @jayasanka-sack ,

I am hoping to remove the below. Please confirm.

<img width="441" alt="help" src="https://user-images.githubusercontent.com/3336644/180695353-d353f0eb-ff23-4755-8b32-938bfa7676f6.png">
<img width="610" alt="analytics" src="https://user-images.githubusercontent.com/3336644/180695366-990967a1-7808-4ee8-a19d-d08baa9ed5f9.png">

Thank you,
Dimuthu

[2022-07-25 04:27] jayasanka-sack commented on #227
Hi @muthulee, please go ahead! 😊

[2022-07-25 04:42] nshamit commented on #210
@udda1996, please do. @AmilaJ @anupama-pathirage can be consulted for help if required.

[2022-07-25 05:54] nshamit opened #250 "Update website content"
- [ ] Update website content using this document: https://docs.google.com/document/d/1-98fsyIGYGVjvTyV_C6IdrylLOXidWPfMr-Kg4hOxvA/edit?usp=sharing

[2022-07-25 06:01] NipunaMarcus commented on #183
This is now implemented and available under https://github.com/LSFLK/MedicinesforLK/tree/donor-login branch

[2022-07-25 06:05] nshamit commented on #237
You can access the PDF here, alternatively: https://drive.google.com/drive/folders/1d0h0AUNRk-SPDAxw_GPQcf_aTxM061ZX

[2022-07-25 06:07] nshamit commented on #237
In step 2, it is NOT necessary to provide that field to input a donation amount (for those who are NOT logged into the donor portal). Thanks for catching that.

Individual donors will be able to donate through the new payment flow.

[2022-07-25 11:02] muthulee commented on #227
Thank you :) ... Will do.

[2022-07-25 12:19] #219 closed

[2022-07-25 15:56] anjula-sack commented on #234
@nshamit I would like to work on this @nshamit

[2022-07-25 16:06] dinuka-rp opened #255 "Limit Progress bar width"
When the amount raised is higher than the goal, the progress bar goes beyond 100%

<img width="1508" alt="image" src="https://user-images.githubusercontent.com/47103883/180823941-228f277d-1393-4624-bf73-8d5ed5f61f31.png">

<img width="1505" alt="image" src="https://user-images.githubusercontent.com/47103883/180823050-70898d8a-52de-4fd5-89db-6f6e348f443d.png">

[2022-07-25 16:09] dinuka-rp commented on #238
From where does the user reach this page with the new flow?
@nshamit

[2022-07-25 16:11] dinuka-rp commented on #255
Should this be a backend validation or should it be controlled from the frontend?

[2022-07-25 16:22] RandilaP opened #256 "Adjust the redcross logo in footer"
- [x]  When u resize the browser redcross logo interfere with the content

- [x]  add a absolute position to the redcross logo

[2022-07-25 17:50] mefarazath opened #257 "Disable client client grant for choreo app"
Noticed that client_secret is added to config.json[1]. I am assuming this would be a dummy value.

In any case, it would be good to disable the client credentials grant type in the app that is used to exchange tokens at choreo sts.

This would potentially remove any possibility of misusing or exploiting the secret value.

Basically by removing credential grant type we make the secret not useful fo

[2022-07-25 18:23] jayasanka-sack commented on #255
There should be validations from both ends. @dinuka-rp Could you please check the frontend? As I can remember, we are validating it on the frontend.

@anupama-pathirage Could you please assign someone for the backend?

[2022-07-26 02:05] nshamit commented on #234
Pls do.

[2022-07-26 04:00] #227 closed

[2022-07-26 04:31] #196 closed

[2022-07-26 04:39] nshamit commented on #235
@jayasanka-sack can you check this please, and close if necessary

[2022-07-26 04:47] nshamit commented on #238
Will get you the details from Sanith.

[2022-07-26 04:49] nshamit commented on #234
Get the names of the Volunteers from the tab called "Eng Team -Vol" https://docs.google.com/spreadsheets/d/1qkSjak9Ul4HiBJ2rGx5OimvoI9SVPvCSugCjOSDxe-8/edit#gid=1885991677

I'll get you more content on this.

[2022-07-26 10:15] ayeshLK opened #260 "API to retrieve list of available donors"
**Is your feature request related to a problem? Please describe.**
Admin should be able to list up all the available donors in the admin-portal.

[2022-07-26 11:02] #238 closed

[2022-07-26 11:10] anjula-sack commented on #234
@nshamit where can I get the our approach image?
<img width="739" alt="Screenshot 2022-07-26 at 4 39 51 PM" src="https://user-images.githubusercontent.com/43912578/180992516-d0810446-133f-42c9-812a-c7aa0455698a.png">

[2022-07-26 11:11] anjula-sack commented on #234
@nshamit The grey map is also not there in the stock images

[2022-07-26 11:12] nshamit commented on #234
Mentioned in the first message: https://docs.google.com/document/d/1-98fsyIGYGVjvTyV_C6IdrylLOXidWPfMr-Kg4hOxvA/edit

Page 2 - use this for now until the image is redesigned.

[2022-07-26 12:21] #240 closed

[2022-07-26 12:27] jayasanka-sack commented on #228
This is a performance issue related to the backend.

@anupama-pathirage do we need to prioritise this task?

[2022-07-26 13:10] nshamit opened #263 "Only show needs in the create aid packages section where there are supplier quotations available so that users do not have to expand the need to check this"
- [ ] We need to ensure that an aid package can only be created where there is a corresponding supplier available to avoid them scrolling through or expanding each need to check on this.

Can we check that this scenario is covered?

![Screen Shot 2022-07-26 at 18 39 31](https://user-images.githubusercontent.com/44461004/181013899-122f29d7-69ce-492e-88d0-17b034f7bd7c.jpg)

[2022-07-26 13:36] nshamit opened #264 "Need to make the website mobile responsive"
Need to make the website mobile responsive. Main components are,

- [x] #380
- [x] #381
- [x] #382
- [x] #383
- [x] #384
- [x] #386
- [x] #387

[2022-07-26 13:37] nshamit opened #265 "594% pledge in aid packages view"
- [ ] 594% pledge in aid packages view. Should only be able to pledge 0-100% of the aid package value / need.

![Screen Shot 2022-07-26 at 19 06 46](https://user-images.githubusercontent.com/44461004/181019549-c0cd6e15-af54-441d-9d78-3f5516f85659.jpg)

[2022-07-26 13:39] nshamit opened #266 "Change the order of aid packages with the most recent aid packages being listed at the top instead of the bottom"
- [ ] Change the order of aid packages with the most recent aid packages being listed at the top instead of the bottom. Currently, the most recent aid packages created go to the bottom of the list.

![Screen Shot 2022-07-26 at 19 06 46](https://user-images.githubusercontent.com/44461004/181019782-c6956c97-b3b0-4e10-910f-fe40cbdc390b.jpg)

[2022-07-26 14:20] anjula-sack opened #267 "Prevent failing to compile on eslint errors"
**Is your feature request related to a problem? Please describe.**
- Currently projects ESLint configuration prevents compilation when there are lint errors

**Describe the solution you'd like**
 - Let the compiler compile even if there are lint issues

[2022-07-26 14:29] jayasanka-sack opened #268 "/aidpackages/{id}/pledges Throws 500"
**Is your feature request related to a problem? Please describe.**
/aidpackages/{id}/pledges resource throws following error:

`The field 'donorID' of type int cannot be mapped to the column 'DONORID' of SQL type 'VARCHAR'`

cc: @ManojLL @anupama-pathirage @AmilaJ

[2022-07-26 14:31] jayasanka-sack commented on #268
@anupama-pathirage @AmilaJ could you please assign someone?

@manuranga is interested in working on this issue.

[2022-07-26 14:39] #256 closed

[2022-07-26 14:43] nshamit commented on #237
Step 5: Connect to this page please: https://give.asia/charity/slredcross

[2022-07-26 14:46] #267 closed

[2022-07-26 14:56] anjula-sack commented on #265
so if the pledge is more than 100% should it show 100%? cuz the percentage is correct, right? It has received more than the pledge.

[2022-07-26 16:25] nshamit commented on #265
It should only allow 100 percent of the funds to be pledged and display a message for anything over the 100per cent value.

[2022-07-26 17:51] anupama-pathirage commented on #184
The reason to the issue is, that there are a few occurrences [1],[2],[3],[4]where we used UTC time as the updated timestamp.

[1]https://github.com/LSFLK/MedicinesforLK-AdminAPI/blob/main/db_processor.bal#L201
[2]https://github.com/LSFLK/MedicinesforLK-AdminAPI/blob/main/db_processor.bal#L203
[3] https://github.com/LSFLK/MedicinesforLK-AdminAPI/blob/main/db_processor.bal#L365
[4] https://github.co

[2022-07-26 17:52] anupama-pathirage commented on #209
@nshamit Can you please explain the issue further?

[2022-07-26 18:08] anupama-pathirage commented on #123
@jayasanka-sack If the validation in FE works properly (i.e. Next button is disabled if higher quantity is given) why do we validate it from BE as well? I guess there is no chance to receive a POST request for `aidpackages` if we have the FE validation in place.

[2022-07-26 18:12] anupama-pathirage commented on #228
@manuranga Can you please analyze the time breakdown and see whether we need to improve the BE?

[2022-07-26 18:19] anupama-pathirage opened #271 "Make all update operations atomic"
Currently some of the rquests are issuing multiple INSERT/Update requests to DB. We need to make all such occurrences atomic by enclosing them in transaction boundaries.

For example : See https://github.com/LSFLK/MedicinesforLK-AdminAPI/blob/main/db_processor.bal#L307:L308
We need to make sure both operations are either successful or none.

Check all the places for similar issues.

[2022-07-27 03:30] NipunaMarcus commented on #268
this is due to the changes we did for the donor login fix... we only have one DB shared between dev and prod hence any database changes done will affect the both environment

[2022-07-27 03:48] #186 closed

[2022-07-27 03:48] #268 closed

[2022-07-27 03:48] #183 closed

[2022-07-27 04:57] nshamit commented on #209
Just tested this, I still see the issue/error.

Follow this testing process @anupama-pathirage

Step 1:Go into the detailed aid package, move the status from shipped to Received at MOH (capitals).
Step 2: Go to the aid packages home page, view the status as Received at MoH
Step 3: Go back into the detailed aid package, the status box is unchecked at Received at MOH.

Might have something to do wit

[2022-07-27 05:01] nshamit commented on #234
Please add these names to the volunteers section, @anjula-sack:
Lakshitha Surasinghe
Namali Premawardhana
Krishni Ratnayaka
Avanthi Gunatilake

[2022-07-27 05:18] nshamit commented on #234
Hi @anjula-sack please get the new assets and about us page image from this folder: https://drive.google.com/drive/folders/1LCFcD03xo20mxFjqMX9ZT1PypcNvqsZw

![NEW ABOUT US PAGE](https://user-images.githubusercontent.com/44461004/181167129-517da190-dd07-44c6-9c48-434b4d72c5d0.jpg)

[2022-07-27 05:19] nshamit commented on #234
all stock images have been updated in this folder:
https://drive.google.com/drive/folders/1WuCN0VSMmijEpcu43Aw9NnmfRx_Wao9W?usp=sharing

[2022-07-27 05:33] nshamit opened #274 "Navigation bar dividing line between Newsroom and Logout"
- [ ] Make the navigation bar section between Newsroom and Logout the same with the dividing line

[2022-07-27 05:36] nshamit opened #275 "Remove footer text in black background section of website"
- [ ] Remove footer text in black background section of website
![Uploading Screen Shot 2022-07-27 at 11.04.48.jpg…]()

[2022-07-27 05:47] nshamit commented on #250
Hi Randila, can you fix the footer across all pages as well please:

- [ ] It should read  : "The Red Cross"
- [ ] The display of the paragraph of text needs to change. Can you change this please as per the below:

                             You don't have to!

The Red Cross team in collaboration with various teams
on the ground are continuously reviewing the countries
needs and prioritizing bas

[2022-07-27 08:03] RandilaP commented on #250
Okay sure

[2022-07-27 09:04] manuranga commented on #228
Looked at aid packages list. It loads in 3-4s on my machine.
<img width="1537" alt="Screenshot 2022-07-27 at 1 55 02 PM" src="https://user-images.githubusercontent.com/1686124/181200776-1d147fdb-5386-4d81-bc05-44e96816c27d.png">
<img width="1132" alt="Screenshot 2022-07-27 at 2 00 47 PM" src="https://user-images.githubusercontent.com/1686124/181200812-c1cc1959-408c-4172-8cbd-0116f0112b07.png">

@n

[2022-07-27 09:25] nshamit commented on #228
I experienced a 4-5 second delay.
I'd like us to see if we can improve this loading time IF we have finished all the other higher priority backend issues. @anupama-pathirage do you have anything higher priority you would like @manuranga to work on, or should be proceed?

[2022-07-27 10:00] muthulee commented on #275
I will work on this.

[2022-07-27 10:01] muthulee commented on #231
@nshamit Which wiki should be updated? I can write something.

[2022-07-27 10:02] nshamit commented on #275
Great, please do.

[2022-07-27 10:03] nshamit commented on #231
https://github.com/LSFLK/MedicinesforLK/wiki

[2022-07-27 11:42] nshamit commented on #234
Update from the content team:

- Remove the embedded video space.

[2022-07-27 11:43] nshamit commented on #250
@RandilaP @jayasanka-sack we have now been instructed to remove the red footer from all pages by the content team.

[2022-07-27 11:44] nshamit opened #278 "Remove the red footer on all pages (new request from content team)"
- [ ] Remove the red footer on all pages
![Screen Shot 2022-07-27 at 11 11 51](https://user-images.githubusercontent.com/44461004/181238832-f3658bb4-4403-4d48-97eb-92173efa17eb.jpg)

[2022-07-27 12:53] ThisaruGuruge commented on #184
@anupama-pathirage Sure will do.

[2022-07-27 13:06] #230 closed

[2022-07-27 13:22] nshamit commented on #235
- [ ] As at July 27, 2022 we have been asked to remove the footer

[2022-07-27 13:24] nshamit commented on #239
- [ ] As at July 27, 2022 we have been asked to remove the red footer @nipunsampath.

[2022-07-27 13:38] nshamit opened #280 "Issue with donor pledging"
- [ ] The issue with pledging in the donor page is a type issue we are sending a number when the APIs expecting a string

[2022-07-27 13:39] nshamit commented on #280
Pledging doesn’t work. Steps to reproduce:

1. Go to a pending pledge
2. Insert an amount
3. Click pledge button

[2022-07-27 14:26] anjula-sack commented on #280
This issue has been fixed by @NipunaMarcus

[2022-07-27 14:26] #280 closed

[2022-07-27 14:35] nipunsampath commented on #239
I think this has been captured under https://github.com/LSFLK/MedicinesforLK/issues/278. I'm currently working on that under that issue. I think we should merge this as it is.

[2022-07-27 14:55] nipunsampath commented on #278
This change is already present in the development branch.

[2022-07-27 14:55] #278 closed

[2022-07-27 14:56] ManojLL opened #282 "Need to display a message when having an error in fetching pledges or there are no pledges in an aid package"

[2022-07-28 01:47] #235 closed

[2022-07-28 01:56] #239 closed

[2022-07-28 03:06] #250 closed

[2022-07-28 03:07] #237 closed

[2022-07-28 04:43] nshamit opened #287 "Website UI changes"
- [x] Home should be added to Navigation bar
- [x] Navigation bar - Change from "About" to "About Us"
- [x] Home Page add logo from here: https://drive.google.com/drive/folders/1d0h0AUNRk-SPDAxw_GPQcf_aTxM061ZX
![Screen Shot 2022-07-28 at 10 19 31](https://user-images.githubusercontent.com/44461004/181423017-b791f0cb-3edb-4fb4-9d32-5396d702916f.jpg)

- [x] 1) Split up the home page paragraph into

[2022-07-28 05:05] nshamit opened #288 "Remove login from the footer"
- [ ] Login in footer behavior needs checking
![Screen Shot 2022-07-28 at 10 35 28](https://user-images.githubusercontent.com/44461004/181424888-197cca6e-475d-40b9-bdad-f0f99deedb3b.jpg)

[2022-07-28 05:26] nshamit opened #289 "The date (period) being pulled for the aid package is not DD/MM/YY"
The date (period) being pulled for the aid package is not DD/MM/YY

![Screen Shot 2022-07-28 at 10 55 32](https://user-images.githubusercontent.com/44461004/181427289-9097aee2-67b6-4cdb-83c6-9ed3f5c844cc.jpg)

[2022-07-28 05:30] nshamit opened #290 "When the status of an aid package is changed, the screen goes blank"
- [ ] When the status of an aid package is changed, the screen goes blank
![Screen Shot 2022-07-28 at 10 58 01](https://user-images.githubusercontent.com/44461004/181427709-5bced213-9af9-457c-aaf1-8d2e6d7c918d.jpg)

- [ ] Checking the status of pledges made also makes the screen go blank.
To reproduce:
1. Login as a donor, and pledge against an aid package
2. Login as an admin and check the pledge

[2022-07-28 05:53] nshamit opened #291 "In admin portal, an admin user cannot view or change the pledge status e.g. payment initiated, payment confirmed etc."
In admin portal, an admin user cannot view or change the pledge status e.g. payment initiated, payment confirmed etc.

[2022-07-28 06:10] nshamit commented on #184
Hi @anupama-pathirage @ThisaruGuruge
I made a pledge this morning at around 11AM, but i'm seeing the time stamp incorrectly say 5 something AM.

![Screen Shot 2022-07-28 at 11 38 25](https://user-images.githubusercontent.com/44461004/181432956-1f5db477-9191-4b90-a132-2283c50b853f.jpg)

[2022-07-28 06:21] anupama-pathirage commented on #184
@ThisaruGuruge I think even we merged this PR we didn't deploy that fix yet in choreo.

[2022-07-28 06:38] #274 closed

[2022-07-28 07:47] anjula-sack commented on #291
Seems like we are not receiving the `donor` details from the backend.

[2022-07-28 08:19] anjula-sack commented on #291
Previously `pledges/${pledgeID}`  received the donor now it doesn't.

[code]

@nshamit

[2022-07-28 09:24] kanushka commented on #290
## RCA

The issue was that the AidPackage update API doesn't send supplier information in the quotation field. Because of that OrderItemsTable failed to render `supplier` and `period` information.

![image](https://user-images.githubusercontent.com/24244523/181470428-64397db4-c73d-4756-8e71-0e3b5a6feee9.png)

But AidPackage get API has supplier information

![image](https://user-images.githubuserc

[2022-07-28 11:52] ayeshLK commented on #260
Since `Users` endpoint of Asgardeo SCHIM API[1] does not support querying based on user group, we might need to use the `Groups` endpoint to retrieve users belonged to a particular user group. But, in the success response we only get limited information regarding the member of a particular user group. Refer to following sample response for user group search request:
[code]

@manuranga / @NipunaMar

[2022-07-28 12:37] kanushka commented on #290
@anupama-pathirage

[2022-07-28 12:56] #282 closed

[2022-07-28 13:08] manuranga commented on #291
This looks like the exact commit where it got removed
https://github.com/LSFLK/MedicinesforLK-AdminAPI/commit/93adb95974b328dd673cf4779a9d74add2d456a2
@AmilaJ was removing `pledge.donor = check getDonor(pledge.donorID);` an accident or is that intentional?

[2022-07-28 14:06] jayasanka-sack commented on #265
@anjula-sack I think this has to be validated in the backend (the frontend is already validating it)
What might have happened is some have updated values from the database.

@anupama-pathirage @AmilaJ @manuranga
Can we clean up those values for now?

[2022-07-28 15:20] kanushka commented on #290
Without changing BE API, I have to update the FE logic to fix this issue.

[2022-07-29 00:50] anupama-pathirage commented on #184
@nshamit Can u check now, thisaru's changes are now in production.

[2022-07-29 03:23] #290 closed

[2022-07-29 03:51] NipunaMarcus commented on #260
We only need Donor First Name to be shown on admin aid package pledge status page. So If we can get those data it will be enough... Also here the delete functionality is for the pledge mapped for each donor so we only need to think about listing user named filtered by userid

[2022-07-29 04:20] nshamit commented on #265
Agree, let's clean this up for the demo please.

[2022-07-29 04:52] nshamit opened #297 "When the status of an aid package is made, the screen goes blank"
- [ ] When the status of an aid package is made, the screen goes blank, until the page is refreshed, then the page loads with the status change.

To reproduce:
1. Change the status of an existing aid package

OR

1. Create an aid package and save as draft.
2. Go into the details view of the aid package and check the "published box"

[2022-07-29 04:59] #263 closed

[2022-07-29 05:13] nshamit commented on #184
Hi @anupama-pathirage Time stamps are still not working

![Screen Shot 2022-07-29 at 10 42 34](https://user-images.githubusercontent.com/44461004/181687353-b3c09722-ce00-435e-88f5-545ab8bba8a5.jpg)

[2022-07-29 06:03] nshamit opened #299 "Periods are not being reflected correctly - instead of 2022 dates, 2028 dates are showing"
- [ ] Periods are not being reflected correctly - instead of 2022 dates, 2028 dates are showing
![Screen Shot 2022-07-29 at 11 32 25](https://user-images.githubusercontent.com/44461004/181693249-3b0e5187-8e58-4fea-8075-dda30c257cc2.jpg)

[2022-07-29 06:04] anupama-pathirage commented on #184
@ThisaruGuruge Can you please investigate further?

[2022-07-29 06:08] nshamit opened #300 "Validation on aid package title"
- [x] Validation on aid package title to stop the creation of two packages with the same name

[2022-07-29 06:19] nshamit opened #301 "Automatic posts in detailed aid package post in two different orders"
- [ ] Automatic posts in detailed aid package post happens 1) when the package is in draft mode AND 2) when the package becomes published, AND 3) medicines are in two different orders in both automatic posts.

To reproduce:
1. Create aid package in draft state - see auto post (the order of medicines in the automatic post is incorrect)
2. Move the aid package status to "published" by checking the b

[2022-07-29 06:23] nshamit commented on #265
Still showing  the error. Take a look at the Goal figure. The goal is $20,000 USD, but when you add up the total cost of the medicines in the automatic post is 148,000+ Check this as the source of the error (why the percentage is 724%.

![Screen Shot 2022-07-29 at 11 51 28](https://user-images.githubusercontent.com/44461004/181695952-b3b69de5-15bb-4fd2-b790-738351c40583.jpg)
![Screen Shot 2022-07-

[2022-07-29 06:28] nshamit opened #302 "Able to create aid package with quantity of medicine in excess of max quantity available from supplier"
- [ ] Able to create aid package with quantity of medicine in excess of max quantity available from supplier
![Screen Shot 2022-07-29 at 11 56 57](https://user-images.githubusercontent.com/44461004/181696799-7ed1686b-6078-4669-a8c8-185250301145.jpg)

![Screen Shot 2022-07-29 at 11 56 37](https://user-images.githubusercontent.com/44461004/181696783-ddc1a097-0e15-4ff9-a386-188ef925a2a6.jpg)

[2022-07-29 06:32] nshamit opened #303 "Able to delete an aid package medicine from aid package details view when the status of package is "ordered""
Able to delete an aid package medicine from aid package details view when the status of package is "ordered"

![Screen Shot 2022-07-29 at 12 00 48](https://user-images.githubusercontent.com/44461004/181697369-dabb6d6c-ce9f-44fb-9c32-709813b68127.jpg)
![Screen Shot 2022-07-29 at 12 00 58](https://user-images.githubusercontent.com/44461004/181697384-23958028-3aa7-4733-bf71-191073f19581.jpg)

[2022-07-29 06:39] nshamit commented on #291
Pledge statuses do not show, but are showing aid package statuses. https://github.com/LSFLK/MedicinesforLK/issues/291 . Could be that something changed from this issue: https://github.com/LSFLK/MedicinesforLK/issues/198 When clicking on pledges button, the page goes blank, need to go back and refresh to get aid packages page again.

[2022-07-29 06:56] nshamit commented on #287
- [ ] Needs to be elixir@redcross.lk

![Screen Shot 2022-07-29 at 12 16 30](https://user-images.githubusercontent.com/44461004/181699758-bad8fc1d-a686-4259-bf7d-07f5e0fb03a1.jpg)

- [ ] Change all headers to white color text e.g. How to Donate can't be read well in red color text. Also make the size of all headers the same and all subheaders the same. E.g. About Us header is smaller than the text

[2022-07-29 07:10] anjula-sack commented on #291
Seems like the missing donor thing is not yet fixed from the BE

[2022-07-29 10:47] NipunaMarcus commented on #291
Currently as we are using the asgardeo as the user store these details are not available in our DB ... So Ayesh is working on getting these details from the asgardeo .... Till that fix is there Shall we show the donorID as the orgName ... for now? then page failure goes away?

[2022-07-29 10:51] nshamit commented on #291
Proceed. Demo is in 40 mins.

[2022-07-29 10:51] anjula-sack commented on #291
yes we can show the ID

[2022-07-29 11:10] jayasanka-sack commented on #198
Update: This has to be validated on the front end.

@ManojLL Any reason for closing this PR?
https://github.com/LSFLK/MedicinesforLK/pull/243

[2022-07-29 11:19] jayasanka-sack commented on #291
https://github.com/LSFLK/MedicinesforLK/pull/304

[2022-07-29 11:52] jayasanka-sack opened #306 "Can't pledge for an Aid Package"
**Is your feature request related to a problem? Please describe.**
Currently, nothing happens when trying to pledge for a package.

`{donorID}/aidpackages/{packageID}/pledge` throws a CORS error

[2022-07-29 11:57] nshamit opened #307 "Aid package shows $0 pledged, but has moved to the Goal Reached section."
- [ ] Aid package shows $0 pledged, but has moved to the Goal Reached section.
![Screen Shot 2022-07-29 at 17 25 59](https://user-images.githubusercontent.com/44461004/181753654-3f90ee59-c535-4557-85fb-d74f36df26ae.jpg)

![Screen Shot 2022-07-29 at 17 25 45](https://user-images.githubusercontent.com/44461004/181753640-b955f92e-ce26-462b-adb1-ffc3bc19cb21.jpg)

[2022-07-29 12:09] jayasanka-sack commented on #288
Could you please elaborate more on this issue?

Is it to change the text to "Logout" if the user is logged in?

[2022-07-29 12:12] nshamit commented on #288
This screen shows that you are logged in as per the top status, but the bottom footer says login, and doesn't seem connected:

![Screen Shot 2022-07-29 at 17 41 23](https://user-images.githubusercontent.com/44461004/181755822-7b444b07-2e39-46be-a9de-971f7a6eefc9.jpg)

[2022-07-29 12:46] nshamit commented on #303
Should only be allowed in "Draft" and "published" states.
BE validation needed as well (as a best practice)

[2022-07-29 12:49] nshamit commented on #302
Needs to be checked on the BE as well.

[2022-07-29 13:13] nshamit commented on #265
- [ ] Validation: we should not let users come up with a total value that is less than the received amount
- [ ] Extra field for 'total value' @nshamit to speak to business stakeholders about this one.
- [ ] Should not let users edit values after closing the package

[2022-07-30 04:16] nshamit opened #309 "Change the hero image of Single aid package view"
- [ ] The ability to change the image associated with each aid package in the admin portal so that they are relevant to the medicine or donor organization.

This image is shown on the donor portal side. Currently we have no way of selecting that image on the admin portal side. The images are hard coded.
![Screen Shot 2022-07-30 at 09 45 31](https://user-images.githubusercontent.com/44461004/181872

[2022-07-30 04:28] nshamit opened #310 "Inclusion of donor information to be shown on donor portal side of aid package details"
**The rationale behind this functionality is that the system helps prevent DUPLICATION of fulfillment of the need. We need to log all aid packages, even those not donated/fulfilled by the Red Cross to provide greater transparency and show the global community that the need is not being duplicated, and money is not being wasted. The Red Cross will invite these organizations to use the system using

[2022-07-30 07:11] ayeshLK opened #312 "API to filter out donors according to the `Pledges` for a particular `AidPackage`"
**Is your feature request related to a problem? Please describe.**
Admin should be able to filter out donors based on the pledges for a particular aid-package.

**Describe the solution you'd like**
Provide a REST resource to filter-out donors based on the pledges for a particular aid-package.
This API resource would function as follows:
- Input: aid-package ID (can be a query parameter or a path p

[2022-07-30 10:51] dinuka-rp commented on #303
@nshamit should _edit_ be restricted similarly as well?

[2022-07-30 11:06] nshamit commented on #303
We should be able to edit or delete in the draft or published status. This should be restricted from awaiting payment onwards.

[2022-07-30 11:58] #288 closed

[2022-07-30 12:13] jayasanka-sack commented on #306
It seems `elixir.redcross.lk` domain isn't whitelisted. @manuranga could you please assign someone from the team?

[2022-07-31 09:28] #260 closed

[2022-07-31 12:26] nshamit commented on #310
hold on this. getting clarity from business stakeholders.

[2022-07-31 15:26] jayasanka-sack opened #315 "Move aid packages into a new page"
Currently, we are displaying aid packages on the homepage. Since we are planning to use the home page as a landing page, we are thinking of moving aid packages into a new page named "Medical Needs".

- [x] Move aid packages to a new page
- [x] Set the default tab to "Goal Pending". Even if the user is logged in (currently the default tab for logged-in users is "my pleges")
- [x] Change the tab ord

[2022-07-31 16:20] jayasanka-sack opened #316 "Update the footer design"
Update the footer to look like the following,
The following image is an example, no need to implement the exact same. (ex: no need for rounded icons. We can use current icons)

<img width="1680" alt="Screenshot 2022-07-31 at 21 46 37" src="https://user-images.githubusercontent.com/33048395/182035636-b6872edf-a2e7-4bac-aaee-e96412d0edd3.png">

Tasks:

- [ ] Change bg colour to #333333
- [ ] Change

[2022-07-31 16:31] jayasanka-sack opened #317 "Align the navbar with page content"
**Is your feature request related to a problem? Please describe.**
The current navbar is not properly aligned with the content.
<img width="1224" alt="Screenshot 2022-07-31 at 22 00 36" src="https://user-images.githubusercontent.com/33048395/182036147-413ac15d-984b-43ea-9c70-6c66b2a646ec.png">

**Describe the solution you'd like**
Please re-allign the navbar

[2022-08-01 04:19] NipunaMarcus commented on #306
This now should work

[2022-08-01 09:43] ThisaruGuruge commented on #184
I'll do an investigation and update.

[2022-08-01 10:57] #315 closed

[2022-08-01 11:03] manuranga commented on #300
We can simply add `UNIQUE(NAME),` to `AID_PACKAGE` table.

[2022-08-01 11:16] udda1996 commented on #302
In the BE we have already added the check to avoid this. https://github.com/LSFLK/MedicinesforLK-AdminAPI/blob/main/service.bal#L104

[2022-08-01 11:17] jayasanka-sack opened #319 "Update the Hospital and Suppliers page"
Please update the following:
- [x] The menu should rename to "Hospitals & Suppliers"
- [x] The title of the first Tile should be "Hospitals & Doctors"
- [x] The text ELIXIR is in uppercase, make it title case; `Elixir`
- [x] Add a call to action for both tiles. Button text should be "Email us" and make it a mailto link to "elixir@redcross.lk"

Use the following as a reference
<img width="905" alt=

[2022-08-01 11:17] #287 closed

[2022-08-01 11:18] jayasanka-sack opened #320 "Website UI Changes"
- [x] #315
- [x] #317
- [x] https://github.com/LSFLK/MedicinesforLK/issues/335
- [x] https://github.com/LSFLK/MedicinesforLK/issues/319
- [x] https://github.com/LSFLK/MedicinesforLK/issues/324
- [x] https://github.com/LSFLK/MedicinesforLK/issues/349
- [x] https://github.com/LSFLK/MedicinesforLK/issues/347
- [x] https://github.com/LSFLK/MedicinesforLK/issues/336

[2022-08-01 12:50] jayasanka-sack commented on #303
We need to validate this on the Backend as well.

[2022-08-01 12:51] #297 closed

[2022-08-01 12:54] jayasanka-sack commented on #265
We need backend validations for the above.

[2022-08-01 12:55] jayasanka-sack commented on #265
@manuranga Please assign someone from the BE team

[2022-08-01 13:02] jayasanka-sack commented on #309
I will update this issue once I receive the image

[2022-08-01 13:10] jayasanka-sack commented on #300
Need a human readable error message for the FE/

[2022-08-01 14:27] jayasanka-sack opened #324 "Update the homepage"
We need the following changes to the homepage.

### Task 1
The following changes need to be done to the description section,
<img width="599" alt="Screenshot 2022-08-01 at 17 18 28" src="https://user-images.githubusercontent.com/33048395/182141471-3d4ea8ff-4041-408b-b341-afae4dec34c9.png">

- [ ] Replace the illustration with the SL redcross logo
- [ ] Change heading style (color: `#333`, weight:

[2022-08-01 14:28] dinuka-rp commented on #317
<img width="1617" alt="image" src="https://user-images.githubusercontent.com/47103883/182166457-14afae26-fd30-47f2-9574-61f20a987f18.png">
@jayasanka-sack is this alright? The way the navbar and content have been designed, with auto widths & margins, it's a little tricky to align it.

Might need some help from a CSS guru here 🥲

[2022-08-01 14:34] manuranga commented on #306
https://apim.docs.wso2.com/en/latest/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/error-handling/

[2022-08-01 16:20] nipunsampath commented on #266
Instead of sorting the aid packages in the frontend, it would be better to do this via a db query in the backend. We need to capture the `created_timestamp` as well in order to sort the aid packages.

@nshamit could you assign someone from the backend team for this?  I can do the frontend changes if the API is ready.

[2022-08-01 16:47] jayasanka-sack opened #325 "Display donating instructions on the aid package page"
If the user is **not logged in**, the page should look like follows:
<img width="687" alt="Screenshot 2022-08-01 at 22 16 12" src="https://user-images.githubusercontent.com/33048395/182200920-f3059685-e824-4b8a-a26f-9b60b24a5b52.png">

The user should be redirected to the https://slredcross.give.asia (open in a new window) when clicking on the donate button.
Text:
Please donate using our secure si

[2022-08-01 16:56] jayasanka-sack commented on #317
The logo and the login button should be aligned with the content.

[2022-08-01 17:00] jayasanka-sack commented on #325
Update: Remove the heading "Description" along with the red stripe.

[2022-08-01 17:07] #319 closed

[2022-08-01 17:12] nshamit commented on #266
@manuranga @anupama-pathirage can you assign someone to take care of this please?

[2022-08-01 17:41] manuranga commented on #303
[code]
I tested above to prevent deletion. It works. But preventing editing seems more complicated since it happens in multiple queries.

[2022-08-01 20:35] ayeshLK commented on #312
I am currently trying to filter out list of users using SCHIM user search API [1]. But the mentioned API does not support any bulk search operations. If that is the case then will have to query the SCHIM API for each and every donor to get the details. And that means there will be multiple requests to the SCHIM API, per one Admin API request. @manuranga / @anupama-pathirage  any thoughts on how we

[2022-08-02 01:36] #316 closed

[2022-08-02 03:54] #209 closed

[2022-08-02 04:01] nshamit opened #329 "A published aid package moves back to draft status when the description is edited in the admin portal"
- [ ] A published aid package moves back to draft status when the description is edited in the admin portal

![Screen Shot 2022-08-02 at 09 29 28](https://user-images.githubusercontent.com/44461004/182289036-9f82e47f-07d0-4c20-97f2-406b4354d275.jpg)

![Screen Shot 2022-08-02 at 09 29 44](https://user-images.githubusercontent.com/44461004/182289044-9bdf08c3-f9f7-4b7a-8d52-5d966618eb50.jpg)

[2022-08-02 04:21] nshamit opened #330 "Admin portal status message needs to change"
- [ ] Admin portal status message needs to change

![Screen Shot 2022-08-02 at 09 49 07](https://user-images.githubusercontent.com/44461004/182290962-79a2333e-2311-457f-a310-bf9686c9d15d.jpg)

Text should read:

Statuses can only be updated forward towards completion

[2022-08-02 04:49] nshamit opened #332 "When medicines are allocated, the total remaining need number changes, but not the supplier wise max number"
- [ ] When medicines are allocated, the total remaining need number changes, but not the supplier wise max number. This means that if you have two suppliers, you don't know which supplier quantity has been reduced, and you have to guess which amount to enter into the next aid package against a supplier.

![Screen Shot 2022-08-02 at 10 17 10](https://user-images.githubusercontent.com/44461004/18229

[2022-08-02 04:52] nshamit commented on #255
@manuranga please assign this to someone in the BE team

[2022-08-02 05:33] #289 closed

[2022-08-02 05:54] #229 closed

[2022-08-02 05:56] #325 closed

[2022-08-02 06:10] manuranga commented on #312
In SCIM spec it is possible by saying something like `/Users?filter=id eq 293 or id eq 322`. But unfortialy Asgadeo dosn't seems to support it. Form the doc it looks like only supported options are  ‘Ew’, ‘Eq’, ‘Co’, ‘Sw’, ‘and’.

https://is.docs.wso2.com/en/latest/develop/scim2-rest-apis/#/Users%20Endpoint/getUser

It looks like we'll have to get one by one or get all user donor and filer in our

[2022-08-02 06:19] ayeshLK commented on #312
If we have to get one by one that means at least 10+ requests should be initiated to SCHIM API before responding to Admin API request. I think this is not scalable.

Then the only option is to get all the donors and filter in our side. This means we have to query the SCHIM API beforehand and store the donor details in a cache/db and query that. I think the DB approach is better.

@anupama-pathirag

[2022-08-02 06:19] #210 closed

[2022-08-02 06:26] #299 closed

[2022-08-02 06:26] manuranga commented on #312
Shall we first do a version where we just get on demand and filter in during the request. Then we can look at how slow it is decide on caching.

[2022-08-02 07:45] #324 closed

[2022-08-02 11:44] dinuka-rp commented on #317
ohh! got it.
I'll see what I can do.

I was trying to align only the nav menu items

[2022-08-02 12:29] jayasanka-sack opened #335 "Update the About us page"
The instructions were provided verbally. I'm working on them.

[2022-08-02 13:15] udda1996 commented on #302
We need to add a validation to assure that the Goal amount is still greater or equal than the received amount after an edit (decrease) in the quantity of an aid package item.

[2022-08-02 13:15] jayasanka-sack opened #336 "Images on the home page are disappearing once the page is loaded"
**Is your feature request related to a problem? Please describe.**
Images on the home page are disappearing once the page is loaded. (It's happening only on the https://elixir.redcross.lk/ domain)

Steps to reproduce:
1. Visit https://elixir.redcross.lk/
2. Wait until the page is loaded
3. See redcross logo and other logos disappear

[2022-08-02 13:20] #291 closed

[2022-08-02 13:32] jayasanka-sack commented on #307
@dinuka-rp After your PR the validation message is showing on every completion step. ex: we don't need it when moving from shipped to delivered

It should display the confirmation only when changing to a completion state from draft or Published

[2022-08-02 13:33] jayasanka-sack commented on #329
This is a FE issue. I'll look into this.

[2022-08-02 13:54] manuranga commented on #228
I see the full 4 seconds in Choreo UI.

<img width="771" alt="Screenshot 2022-08-01 at 8 16 14 PM" src="https://user-images.githubusercontent.com/1686124/182391762-4eb001e9-a921-4ab8-8e99-741a41536af0.png">

All the delay is coming form the service itself, so it bit unclearer where to go from there. I reached out in [Choreo slack](https://wso2-choreo.slack.com/archives/C01TCFVPGGP/p165936523333665

[2022-08-02 14:57] manuranga commented on #300
DB is altered, users will not be able to create duplicate names.
We will get an error like:
[code]

[2022-08-02 14:57] manuranga commented on #300
Frontend error is not informative for now.

[2022-08-02 15:25] NipunaMarcus commented on #306
This happened due to the wrong configuration values for the BE DB.

Issue was identified by looking at the Choreo observability logs.

This is now fixed in the development and production deployment of the donor API

[2022-08-02 15:48] jayasanka-sack commented on #317
I'll fix this.

[2022-08-02 16:00] manuranga commented on #301
Given the dead line its better to first fix the issue in frontend if that is lower effort.

[2022-08-02 16:02] manuranga commented on #300
@jayasanka-sack I can send a better error form backend later, for now can we use above error and show a meaningful error to the user

[2022-08-02 16:59] ThisaruGuruge commented on #184
This seems like an issue in the front-end. The Database stores the epoch value. Changing it might cause issues. It should be handled at the front end where the epoch is retrieved and converted to a human-readable format.

I will send a PR to revert the previous changes since they are not needed now.

[2022-08-02 17:04] nshamit commented on #198
Edited: added 2nd line, term in bold.

When aid package is "published", pledge status can be "pledged"
When aid package is "awaiting payment", pledge status can be **"pledged",**  "payment initiated" or "payment confirmed"
When aid package is "ordered", "shipped", "received at MOH" or "delivered", pledge status must be "payment confirmed"

[2022-08-02 17:10] nshamit commented on #306
@jayasanka-sack

[2022-08-02 17:20] nshamit commented on #228
@NipunaMarcus need choreo help, as per @manuranga comment in slack.

[2022-08-03 08:31] manuranga commented on #303
Above pr should fix the backend part, but I don't see the frountent part is working for the delete (edit part of the frontend works)
@dinuka-rp can you please look into it.

[2022-08-03 09:40] jayasanka-sack commented on #330
Hi Sherazad, there are two confirmation messages.
This is related to the following issue:
https://github.com/LSFLK/MedicinesforLK/issues/307#issuecomment-1202571840

[2022-08-03 09:42] #330 closed

[2022-08-03 10:23] manuranga commented on #301
Above should temp fix it form the UI. Auto post is create only if it's created in published state not in draft state. I hope this the expected outcome.
1) But I noticed another thing, if I jump past published directly form draft, I don't see the auto post. Is that an issue? @nshamit
If so let's create a separate issue.

2) If above fix is correct, let's create a separate issue to move the auto pos

[2022-08-03 11:14] jayasanka-sack commented on #329
Steps to reproduce:

1. Open a draft package
2. Change state to published
3. Change the description and hit save

[2022-08-03 11:49] manuranga commented on #303
I to a pull looks like frontend if fixed, maybe I tested with older UI. removing [dinuka-rp](https://github.com/dinuka-rp).

[2022-08-03 11:52] dinuka-rp commented on #303
Yeah, it uses the same logic. Thanks for checking and confirming @manuranga

[2022-08-03 12:55] jayasanka-sack commented on #332
#302

[2022-08-03 12:57] jayasanka-sack commented on #329
We need a BE validation as well (need to restrict moving backwards)

[2022-08-03 13:24] jayasanka-sack opened #343 "Need a public resource to get a single package"
Currently, we are fetching details of a given aid package from the Admin API, which is not the ideal way of getting it done.

There should be a **public** resource to fetch an aid package by id because we should display it to both logged and **non logged** users.

[2022-08-03 14:26] jayasanka-sack opened #344 "Update text content of the website"
Update texts of the website by referring to the following doc:
https://docs.google.com/document/d/1-98fsyIGYGVjvTyV_C6IdrylLOXidWPfMr-Kg4hOxvA/edit?usp=sharing

[2022-08-03 15:03] #335 closed

[2022-08-03 15:03] #317 closed

[2022-08-03 16:12] jayasanka-sack commented on #336
@anjula-sack The issue is still there. However it works fine on the vercel link. (it has the same content)

https://donor-portal-medicinesfor-lk.vercel.app/

[2022-08-03 16:18] jayasanka-sack commented on #336
This issue only occurs on chrome. works fine on safari. If you right click, there's an option to load the image.
<img width="405" alt="Screenshot 2022-08-03 at 21 47 30" src="https://user-images.githubusercontent.com/33048395/182658656-59de6de9-0047-4c46-98bc-46a356c9a262.png">

[2022-08-03 16:19] nshamit commented on #301
All posts need to go through the published state. Even if they don't get saved as draft first they must go through the published state. So the post needs to be there at the time the aid package moves into the published state.

[2022-08-04 04:08] anjula-sack commented on #336
we can try moving the `assets` to the `src`

[2022-08-04 06:04] jayasanka-sack commented on #336
@anjula-sack already done.

[2022-08-04 06:30] anjula-sack commented on #336
A temporary solution might be hosting the images somewhere

[2022-08-04 06:57] jayasanka-sack commented on #336
Yeah, but there should be a reason for this issue

[2022-08-04 07:33] jayasanka-sack opened #347 "Update the aid package card"
Update the aid package card on the donor portal as follows:

<img width="1037" alt="Screenshot 2022-08-04 at 12 59 39" src="https://user-images.githubusercontent.com/33048395/182789527-0fe501e6-7a8a-44d6-a8d2-26ca3f0b946c.png">

Use the following image (compress the image to a lower res please):
![the-lore-com-rRBtKW_aw_U-unsplash](https://user-images.githubusercontent.com/33048395/182789958-4c800

[2022-08-04 10:06] #344 closed

[2022-08-04 10:08] #312 closed

[2022-08-04 10:41] jayasanka-sack commented on #336
I'm not sure what the root cause is but it comes from the Asgardeo SDK.

It occurs when you provide redirection URLs (No need to match with the current domain. Even a random string works). Currently, redirection URLs are provided on the https://elixir.redcross.lk/ deployment. That's why it only occurs in that domain.

To reproduce this locally,
1. create `.env.local` file as instructed on the [rea

[2022-08-04 10:48] #301 closed

[2022-08-04 11:18] jayasanka-sack opened #349 "Update leadership team and the partnership section"
## Task 1

Add the following profiles to the leadership team.

Dr. Mahesh Gunasekara
Director General
Sri Lanka Red Cross Society
https://www.linkedin.com/in/dr-mahesh-gunasekara-2b38526/

Tharaka Samarasinghe
HR Assistant
Sri Lanka Red Cross Society
https://www.linkedin.com/in/tharaka-samarasinghe-3b7819a8/

Krishni Ratnayaka
Consultant Legal Affairs
Sri Lanka Red Cross Society
https://www.linked

[2022-08-04 11:23] #306 closed

[2022-08-04 12:51] jayasanka-sack commented on #343
TODO: @manuranga have a discussion with @NipunaMarcus

[2022-08-04 13:07] jayasanka-sack opened #351 "Separate the dev environment"
We need to separate things out from Choreo side, Vercel, Adgadeo side and DB side.

[2022-08-04 13:12] jayasanka-sack commented on #95
Ignore the previous comment.

The following items should be there:
**Also, Have the date before the title.**

July 29th 2022: The[ International Committee of the Red Cross](https://www.facebook.com/ICRC/?__cft__[0]=AZW4cggwp3pZgw5hRmdDSrkACb2ulZq2_4cK7kxUBRNZGs3SyXgW_UkcFhC9JKmNsq55HvbrP89OHaOmI8ShqHnx4PP17kGZAmPUIHEw47ejRObeIn5TptJUySj7swRCygPMvkGo0ykGjHSujDUc4i8K0m7EIwI3pko1gDicqGl27A2IpYPAeP-NH

[2022-08-04 13:29] ThisaruGuruge commented on #266
Can't we sort this by package ID? I sent a PR to sort using the PackageID. If there's any issue, please let me know.

[2022-08-04 14:20] nshamit commented on #95
Hey @jayasanka-sack I have the historical data. I can create aid packages from that. Thanks for the links/details, I'll use them to double check.

[2022-08-04 18:06] nipunsampath commented on #336
The root cause of this appears to be the silent sign-in attempt.  Based on what I have seen I think this is what happens.

1. Images are downloaded when the application loads for the first time.
2. Asgardeo tries to sign in silently and gets redirected back to the redirect URL.
3. The application tries downloading the images again, but Chrome cancels the image requests for some reason.
(It does ca

[2022-08-05 02:53] #349 closed

[2022-08-05 05:08] anjula-sack opened #353 "Show a message when there are no aid packages to show"
**Is your feature request related to a problem? Please describe.**
It's better to show  a message to the user when there are no aid packages to show

**Describe the solution you'd like**
- Display a message when there are no aid packages to show
- This needs to be added in both donor and admin panels.

[2022-08-05 05:24] nshamit opened #354 "Edit button for create aid package next to save as draft and publish"
- [x] Edit button for create aid package next to save as draft and publish. This is to help user behavior since they cannot edit an aid package title after it is published.

[2022-08-05 07:07] nshamit opened #355 "Message when loading medicines list says "loading aid packages""
- [x] Message when loading medicines list says "loading aid packages" . This should simply say "loading".

[2022-08-05 07:37] nshamit commented on #300
@manuranga @ayeshLK we are not able to create an aid package without changing its name first.

[2022-08-05 07:50] manuranga commented on #300
Isn't this not the exception? Otherwise name will be duplicate.

[2022-08-05 08:45] #347 closed

[2022-08-05 09:06] nshamit opened #359 "Not able to create an aid package without changing its name first."
- [ ] Not able to create an aid package without changing its name first. Will throw an error stating that 'something went wrong'.

[2022-08-05 15:49] #353 closed

[2022-08-05 15:49] #355 closed

[2022-08-05 16:16] jayasanka-sack commented on #336
The issue is temporarily fixed by using inline images: https://github.com/LSFLK/MedicinesforLK/pull/360

Keeping this issue open until we find a proper solution.

Thanks for the investigation @nipunsampath! We are so glad to have you on the team!

[2022-08-06 12:16] #95 closed

[2022-08-06 12:43] #309 closed

[2022-08-06 12:59] nipunsampath commented on #266
Yeah, that approach is better.

[2022-08-06 13:00] jayasanka-sack commented on #300
Quick fix:

Catch this from the frontend.

[2022-08-06 13:03] jayasanka-sack commented on #354
Fix: Remove the publish button

[2022-08-06 13:17] jayasanka-sack commented on #359
Tracked at https://github.com/LSFLK/MedicinesforLK/issues/300

@anjula-sack Could you please make the inputs visible by default?

[2022-08-06 13:17] jayasanka-sack commented on #354
@nshamit Could you please elaborate more on this?

[2022-08-06 13:43] nshamit opened #362 "Can edit comments in the admin portal once posted. Needs to be non-editable once posted."
- [ ] Can edit comments in the admin portal once posted. Needs to be non-editable once posted.

[2022-08-06 13:45] nshamit opened #363 "Include a note about use of Google Chrome as the required browser."
- [ ] Include a note about use of Google Chrome as the required browser. There is a recaptcha error on Firefox and Safari (which is what the Red Cross tends to use more)

[2022-08-06 13:47] nshamit opened #364 "Ability for a donor to pledge funds and for that pledge to be recorded like aid packages as institutional donors cannot pay by credit card."
Ability for a donor to pledge funds instead of pledging towards an aid package, and for that pledge to be recorded like aid packages as institutional donors cannot pay by credit card in the give.asia site.

[2022-08-06 13:48] nshamit opened #365 "Include contact information in the footer (discuss with Ashok)"
- [x] Include contact information in the footer (discuss with Ashok)

[2022-08-06 13:51] nshamit opened #366 "Admin portal locked when status of aid package was changed and multiple commands input at same time. Refresh did not work to reset"
To reproduce:
*  move status from published to awaiting payment
*  press see pledge status button at the same time, system locks. Pressing refresh or going to the aid packages page does not refresh the site. User needs to close the tab and reopen a separate tab

[2022-08-06 13:52] nshamit opened #367 "Users had to login each time they refreshed their page."
- [ ] Users had to login each time they refreshed their page.

[2022-08-06 13:54] nshamit opened #368 "Shortcut to update donor pledge status, current workflow is not natural and is taxing on the user"
- [ ] Shortcut to update donor pledge status, current workflow is not natural and is taxing on the user

[2022-08-06 13:57] nshamit opened #369 "The process flow image on the 'About Us' page is stretched vertically when viewing using Safari."
- [x] The process flow image on the 'About Us' page is stretched vertically when viewing using Safari.
- [x] Please check if font type and font sizes are consistent across pages.

[2022-08-06 14:48] jayasanka-sack commented on #369
Possible fix:
Set image width to `100%`

[2022-08-06 14:50] jayasanka-sack commented on #367
I can't reproduce this.

[2022-08-06 16:30] nshamit commented on #354
@jayasanka-sack
- [ ] In addition to the Publish and Save as draft buttons, include an Edit button to immediately direct users to edit the package name and the description.
- [ ] Also change the order of the buttons. The order should be : 1) Edit 2) Save as draft 3) Publish
- [ ] Check whether the save as draft button works. I could not save as draft, and lost the packages I kept creating.

[2022-08-06 16:55] nshamit commented on #184
@ThisaruGuruge has the PR been sent? @jayasanka-sack @nipunsampath can we follow up on this please?

[2022-08-06 17:39] nshamit commented on #241
June 9th 2022
Sri Lanka Red Cross Society - Colombo Branch organised a blood donation camp in Colombo.

May 31st 2022
Singapore Red Cross donated medicines worth 68,500 SGD (approx. $50,000 USD).

[2022-08-07 06:09] nshamit opened #370 "Update database fields through the needs list/ supply quotations"
- [ ] For needs list, update: Item Name, Item type, Unit into the database on upload of the needs list instead of doing a manual upload.
- [ ] For the supply quotations side, update: Supplier Name into the database on upload of the supply quotations instead of doing a manual upload.

[2022-08-07 07:39] jayasanka-sack commented on #368
Is this issue related to https://github.com/LSFLK/MedicinesforLK/issues/198?

[2022-08-07 07:44] jayasanka-sack commented on #362
Would you mind explaining the reason? I think it's nice to have an option to edit a comment.

[2022-08-07 07:49] jayasanka-sack opened #371 "Minor updates on the website"
Please update the following:

- [ ] Update newsroom contacts: [Check this link](https://docs.google.com/document/d/1-98fsyIGYGVjvTyV_C6IdrylLOXidWPfMr-Kg4hOxvA/edit)
- [ ] Update Tharaka's title on the about us page (check the doc)
- [ ] Add "Natasha Perera" to the list of volunteers
- [ ] Verify font type and size are the same across all pages
- [ ] Canadian Redcross logo - please can you verify

[2022-08-07 07:51] jayasanka-sack commented on #354
@anjula-sack Could you please look into the above issue with your current task?

[2022-08-07 07:53] #307 closed

[2022-08-07 07:54] #198 closed

[2022-08-07 11:36] jayasanka-sack commented on #300
Temporally fixed with #372 . Need a proper solution from the backend.

[2022-08-07 11:40] jayasanka-sack commented on #354
I think a proper solution to address the issue might be to make the section collapsible. So the inputs would be visible by default.

@anjula-sack What do you think?

[2022-08-07 11:42] jayasanka-sack commented on #359
Tracked at https://github.com/LSFLK/MedicinesforLK/issues/354

Closing the issue

[2022-08-07 11:42] #359 closed

[2022-08-07 11:43] anjula-sack commented on #354
yeah but I went through the code with the current implementation button is the easiest

[2022-08-07 11:44] jayasanka-sack commented on #367
This seems unreproducible/fixed. @nshamit feel free to reopen if the issue is still there.

[2022-08-07 11:44] #367 closed

[2022-08-07 12:00] jayasanka-sack commented on #364
According to the current implementation, it's impossible to create an aid package without medicine. Amending the flow would break the structure and validations. I think it's better to come up with a different approach.

@manuranga @NipunaMarcus please let us know your thoughts on this.

[2022-08-07 12:03] jayasanka-sack commented on #354
We can't publish/save without editing the title, right? Therefore editing is not a choice it's a necessity.

[2022-08-07 12:05] jayasanka-sack commented on #351
@manuranga Can we close this issue now?

[2022-08-07 12:07] jayasanka-sack commented on #363
@nipunsampath Is this a known error?

[2022-08-07 12:08] #320 closed

[2022-08-07 13:20] #362 closed

[2022-08-07 14:10] nshamit opened #373 "When deleting an aid package which is saved as draft, the quantity is not returned to the total quantity required after deletion. Cannot create the aid package after that."
- [ ] When deleting an aid package which is saved as draft, the quantity is not returned to the total quantity required.

![Screen Shot 2022-08-07 at 19 38 46](https://user-images.githubusercontent.com/44461004/183294840-a7fc3253-fb9d-4333-81a3-752e8656cad0.jpg)

[2022-08-07 14:52] jayasanka-sack commented on #241
Tracked on https://github.com/LSFLK/MedicinesforLK/issues/371

[2022-08-08 01:51] NipunaMarcus commented on #364
Yes, I agree with @jayasanka-sack ... Current flow or the discussed flow was to create aid packages with need packages... If we are to create an aid package without needs, we can introduce another type of package... Something like "DonationPackage" .... Also this will involve a few DB changes and package creation API changes.

[2022-08-08 03:25] nshamit commented on #365
![Uploading Screen Shot 2022-08-08 at 08.54.14.jpg…]()

[2022-08-08 03:26] nshamit commented on #365
@jayasanka-sack @anjula-sack @RandilaP

![Screen Shot 2022-08-08 at 08 54 14](https://user-images.githubusercontent.com/44461004/183332361-c5946333-c878-4a1d-975f-6d912230e83d.jpg)

[2022-08-08 03:29] nshamit commented on #241
Just a thought, @jayasanka-sack @anjula-sack. Instead of having the info@redcross.lk email address in the newsroom section, I think that the email should be elixir@redcross.lk. Otherwise Red Cross will have to check multiple emails.

[2022-08-08 03:32] nshamit commented on #362
We decided to let comments remain editable because comments are public-facing and need to be worded appropriately balancing transparency and security concerns.

[2022-08-08 03:33] nshamit commented on #370
@manuranga @jayasanka-sack we have organized a meeting with Arosha for Tues 9.45AM to discuss this further.

[2022-08-08 04:57] manuranga commented on #351
I only did the admin portal, we still to do donor portal.

[2022-08-08 05:10] nshamit commented on #354
As long as we give the user a visual cue to press the edit button and change the name of the aid package, i'm fine with the easiest solution you can come up with.

[2022-08-08 05:13] ThisaruGuruge commented on #184
Hi, as I've mentioned already, this should be done in the front end, not the back end.

[2022-08-08 09:23] jayasanka-sack commented on #300
I think what we need to do here is,

1. fetch the `aidpackage` from the DB
2. Validate the payload and throw relevant error messages
3. Execute the update query if the payload is valid

@manuranga Could you please assign someone from the BE team?

Later on, we need to send a proper error resource. So that we can catch it from the front end and display validation errors in necessary places.

ex:

[

[2022-08-08 12:19] #369 closed

[2022-08-08 12:19] #365 closed

[2022-08-08 12:48] jayasanka-sack commented on #332
TODO: @udda1996 add a comment

[2022-08-08 12:57] udda1996 commented on #332
@jayasanka-sack with the PR [#60](https://github.com/LSFLK/MedicinesforLK-AdminAPI/pull/60) we have included a new field `remainingQuantity` which refers to the unassigned amount in each quotation. This can be used to track supplier wise remaining quantity so users can have an idea about the amounts remaining to assign from each supplier.
![182294097-5dad2fc4-282c-4cde-b7b7-87e4e9b46028](https://u

[2022-08-08 14:19] dinuka-rp commented on #184
![image](https://user-images.githubusercontent.com/47103883/183439275-de5a4387-59ea-4f0a-b0ab-74cda942b3d4.png)

Request Endpoint: https://9d2b57ae-4349-44f2-971c-106ae09d244d-dev.e1-us-east-azure.choreoapis.dev/qmov/admin-api/1.0.0/aidpackages/126/updatecomments

@ThisaruGuruge The admin portal does not return timestamps as UNIX epoch times. The dateTime is returned as a string by the API. This s

[2022-08-08 14:19] jayasanka-sack opened #376 "GET /aidpackages/{id}/pledges throws 403"
`GET /aidpackages/{id}/pledges` (Admin API) throws 403 with the following content:

[code]

[2022-08-08 14:29] dinuka-rp opened #377 "Getting the comments of a package is not authorized"
**Is your feature request related to a problem? Please describe.**
It's unnecessary for a potential donor to log into the system, to view comment updates of a package.

**Describe the solution you'd like**
Remove the authorization on the `aidpackages/:packageId/updatecomments` endpoint

**Additional context**
Doesn't work for a logged-in user (donor) either

No Update Comments (request failed) in

[2022-08-08 14:43] dinuka-rp commented on #377
No Update Comments (request failed) in the Donor Portal for a Logged-in user (donor)
![image](https://user-images.githubusercontent.com/47103883/183444952-5853a276-7fab-4af3-8412-a84ee322e184.png)

[2022-08-08 14:53] dinuka-rp commented on #377
Incorrect API is being called

[2022-08-08 14:53] #377 closed

[2022-08-08 15:06] dinuka-rp opened #378 "GET /aidpackage & GET /aidpackage/{id}/updatecomments throws 503"
**Is your feature request related to a problem? Please describe.**
When the donor-API is called, a `503 Service Unavailable` error is thrown

Choreo error?

[code]

[2022-08-08 15:43] kanushka opened #380 "Update Navbar component with mobile responsiveness."

[2022-08-08 15:43] kanushka opened #381 "Update Footer component with mobile responsiveness."

[2022-08-08 15:43] kanushka opened #382 "Update the Homepage with mobile responsiveness."

[2022-08-08 15:43] kanushka opened #383 "Update the Donate now page with mobile responsiveness."

[2022-08-08 15:43] kanushka opened #384 "Update the About Us page with mobile responsiveness."

[2022-08-08 15:43] kanushka opened #385 "Update the Hospitals page with mobile responsiveness."

[2022-08-08 15:43] kanushka opened #386 "Update the Hospitals & Suppliers page with mobile responsiveness."
We need to make the [Hospitals and suppliers](https://elixir.redcross.lk/suppliers) page mobile responsive.

[2022-08-08 15:43] kanushka opened #387 "Update the Newsroom page with mobile responsiveness."

[2022-08-09 04:30] nshamit opened #389 "In the prod environment, a pledge is not being registered in the pledge status area"
- [ ] In the prod environment,  pledges are not being registered in the pledge status area. I made one pledge using Tharaka Samarasinghe's donor account, for the full amount.

![Screen Shot 2022-08-09 at 09 54 56](https://user-images.githubusercontent.com/44461004/183564186-d8f09e05-e782-4cbb-84ed-5afe98ece853.jpg)

![Screen Shot 2022-08-09 at 09 57 43](https://user-images.githubusercontent.com/44

[2022-08-09 13:06] jayasanka-sack commented on #373
Steps to reproduce:

1. Create aid package as draft
2. Delete the package
3. Try to create a package.

[2022-08-09 13:08] jayasanka-sack commented on #389
Tracked at: https://github.com/LSFLK/MedicinesforLK/issues/376

[2022-08-09 13:08] #389 closed

[2022-08-09 13:09] #354 closed

[2022-08-09 13:10] manuranga commented on #378
@NipunaMarcus is the the same error we faced before?

[2022-08-09 14:07] jayasanka-sack commented on #255
This supposed to be fixed by https://github.com/LSFLK/MedicinesforLK/issues/265

[2022-08-09 14:07] #255 closed

[2022-08-09 17:24] ManojLL commented on #384
I'm working on this

[2022-08-10 01:45] NipunaMarcus commented on #378
yes this is because of service is failing to start due to a DB config or configurable issue. Please go to observe page in choreo and check why its failing to deploy with logs

[2022-08-10 01:48] NipunaMarcus commented on #378
[code]

[2022-08-10 03:27] jayasanka-sack opened #391 "Make the hero image component mobile responsive"
The [hero section component ](https://github.com/LSFLK/MedicinesforLK/blob/development/donor-portal/src/pages/layout/hero-section/index.tsx) is not mobile responsive. Please make it mobile-friendly.

Suggestions:

Add padding to text and reduce the font size on mobile devices.
ex:
<img width="464" alt="image" src="https://user-images.githubusercontent.com/33048395/183806892-a42c702d-a855-4cb1-9bb2

[2022-08-10 03:31] jayasanka-sack commented on #391
@kanushka Feel free to assign someone to this issue.  😊

[2022-08-10 05:22] nshamit commented on #231
@samisa-abeysinghe can we close this issue?

[2022-08-10 05:24] nshamit commented on #310
@NipunaMarcus do we need to reassign this issue?

[2022-08-10 05:31] nshamit commented on #363
@manuranga can we pass this on to the Asgardeo team for clarification?

[2022-08-10 05:32] #366 closed

[2022-08-10 05:35] nshamit commented on #370
Update Supply quotation sheet : unit (tablet, capsule), item type (medicine, device) @akbandara
For @manuranga @AmilaJ

Solution post MVP:
- We move out of using the spreadsheets altogether. Design and implement a UI: Search items list, new API for the items table, new API for the supplier entity.
- Week of 22nd, @akbandara can work on wireframes/design
- Post MVP implementation.

[2022-08-10 05:41] manuranga commented on #363
There is no recommended browser for Asgadeo. All three major browsers should work, if not we need to report to `asgardeo-help@wso2.com`.
I tested form Safari and Firefox multiple time I couldn't reproduce the issue after the original day.

[2022-08-10 06:15] manuranga commented on #378
Ah I didn't realized this is donor-api in dev. I intentionally left this un-deployed since we don't have a dev ui for donor portal, also to verify that prod don't call any of these apis by accident. I'll bring this up, since you seems to be using this form your local setup.

[2022-08-10 06:15] #378 closed

[2022-08-10 06:23] nshamit commented on #363
ack, we have a demo with the MOH/MSD today, so i'll report if we experience the same in this session. If not, we can close this issue.

[2022-08-10 06:31] manuranga commented on #363
If issues occurs, screenshot with developer tools opened to network tab will help a lot. (note in safari this view need to be enabled form the preferences first)

[2022-08-10 12:54] dinuka-rp commented on #184
Backend changes required @manuranga

- [ ] The dateTime timestamp needs to be received as a number from the backend.
- [ ] The current Backend schema for upsert update comment (PUT Req) requires a dateTime variable. This won't be sent from the frontend. Therefore, it needs to be removed from the request body of the PUT request.
https://github.com/LSFLK/MedicinesforLK/pull/379#issuecomment-12098045

[2022-08-10 13:03] #384 closed

[2022-08-10 13:16] dinuka-rp commented on #391
@ManojLL would you like to take this issue up?

[2022-08-10 13:16] dinuka-rp opened #393 "Make the image of the Aid Package view responsive"
**Describe the solution you'd like**
Make the image less than 40% of the display view height.

**Additional context**
<img width="1062" alt="image" src="https://user-images.githubusercontent.com/47103883/183910881-fe4ecdfa-f307-48c9-b84c-ae18bfb7a7ee.png">

[2022-08-10 14:49] ManojLL commented on #382
I'm working on this

[2022-08-10 19:37] ManojLL commented on #391
@dinuka-rp  I'm working on this.

[2022-08-11 03:13] jayasanka-sack opened #396 "Fix invalid email link in the footer"
the email link is invalid. The correct one should be `mailto:elixir@redcross.lk`

https://github.com/LSFLK/MedicinesforLK/blob/b407b12e94474a1dfec88ee37758b734f643eef2/donor-portal/src/components/footer/index.tsx#L13

[2022-08-11 04:09] gajindubandara commented on #396
I would like to work on this issue

[2022-08-11 04:10] jayasanka-sack commented on #396
Sure! go ahead @gajindubandara !

[2022-08-11 04:25] jayasanka-sack opened #397 "Footer links should scroll to the top"
If a user clicks on the footer links .. please take them to the top. e.g. click on about us, take the user to the top of the about us page.

[2022-08-11 04:26] jayasanka-sack commented on #397
@dinuka-rp Could you please assign someone?

[2022-08-11 08:13] samisa-abeysinghe commented on #231
Resolving as this is being address with the latest Wiki updates

[2022-08-11 08:13] #231 closed

[2022-08-11 08:33] anjula-sack opened #400 "Medical needs remainingQuantity come in as a negative value"
**Is your feature request related to a problem? Please describe.**
- Medical needs remainingQuantity come in as a negative value from the backend

**Describe the solution you'd like**
Here's the current payload.

[code]

It should come from the backend already calculated.

[2022-08-11 08:54] anjula-sack opened #401 "neededQuantity is not changing when creating aid packages"
**Is your feature request related to a problem? Please describe.**
When an aid package is created `neededQuantity` needs to be reduced by the amount of the order. But it doesn't change.

Steps to reproduce
Create an aid package (check the Quantity Needed before that)
Publish
See the Quantity Needed is not changed.

In a scenario where the user deletes the aid package, it will add the order amount

[2022-08-11 09:18] #396 closed

[2022-08-11 12:39] kumuditha-udayanga commented on #386
@jayasanka-sack  I would like to work on this issue

[2022-08-12 03:48] jayasanka-sack commented on #123
Most of the time, validation on the front end is for the user experience. Backend validation is crucial for security and sanity. The backend should "never trust users". It is always required to validate the data it receives, and never rely on the client to send it correct data.

Here are a few scenarios that can possibly go wrong,
- Someone can call the backend by directly calling the API.
- It is

[2022-08-12 06:55] #391 closed

[2022-08-12 06:57] dinuka-rp commented on #380
@kanushka any update on this?

[2022-08-12 06:58] dinuka-rp commented on #383
@RandilaP would you like to take this issue up?

[2022-08-12 06:58] dinuka-rp commented on #385
@ManojLL would u like to take up this issue?

[2022-08-12 07:04] dinuka-rp commented on #397
@gajindubandara would u be able to take up this issue?

[2022-08-12 07:50] ManojLL commented on #387
I am working on this

[2022-08-12 08:11] samisa-abeysinghe commented on #123
Front-end and back-end validations serve specific purposes. So both got to
be done.

If someone bypasses and calls the API directly, that is all fine. API is
meant to be called such a manner.
However, there is also API security in place in case the API is not public.
So not everyone out there should be able to call it if that is properly
secured.

Security and validation are two different things.

[2022-08-12 08:58] gajindubandara commented on #397
Sure! I'll work on that

[2022-08-12 12:34] jayasanka-sack commented on #383
Duplicate: https://github.com/LSFLK/MedicinesforLK/issues/386

[2022-08-12 12:45] dinuka-rp commented on #385
same as #386

[2022-08-12 12:45] #385 closed

[2022-08-12 12:48] #401 closed

[2022-08-12 12:53] dinuka-rp commented on #393
@RandilaP would u like to take up this issue?

[2022-08-13 13:37] kanushka commented on #380
Fixed with this PR https://github.com/LSFLK/MedicinesforLK/pull/406

[2022-08-14 09:26] #381 closed

[2022-08-15 07:38] #387 closed

[2022-08-15 09:57] #332 closed

[2022-08-15 10:01] anjula-sack commented on #241
This is fixed.

[2022-08-15 10:01] #241 closed

[2022-08-15 10:19] nipunsampath commented on #363
@jayasanka-sack It's not a known issue AFAIK. Apologies for the late reply.

[2022-08-16 05:54] nshamit commented on #303
@manuranga @dinuka-rp what's the status of this issue?

[2022-08-16 05:55] nshamit commented on #329
status on this issue please?

[2022-08-16 05:56] nshamit commented on #336
status on this issue please?

[2022-08-16 05:57] nshamit commented on #351
shall we get this done by thurs 18th aug?

[2022-08-16 05:58] nshamit commented on #363
We have not seen this error since. Will close this and we can reopen if necessary.

[2022-08-16 05:58] nshamit commented on #368
@dinuka-rp, status on this issue please?

[2022-08-16 07:59] nshamit commented on #302
@udda1996 @jayasanka-sack @anjula-sack  can we close this

[2022-08-16 10:46] #303 closed

[2022-08-16 10:48] manuranga commented on #329
Not fixed in backend.

[2022-08-16 11:20] nipunsampath commented on #376
@jayasanka-sack was this issue fixed somewhere? I tried to reproduce this in prod yesterday, but couldn't. I got a 401 error code on some pledges in my local setup though.

[2022-08-16 11:27] manuranga commented on #376
It appered without us doing any change in the first place. So it could be an intermittent issue in Asgadeo. @nipunsampath is looking into it.

[2022-08-16 11:52] nipunsampath commented on #336
I reported the issue to the Asgardeo team. I will post here when there are new updates.

[2022-08-16 12:33] dinuka-rp commented on #368
@nshamit working on this, will try to complete and push the changes today

[2022-08-16 15:47] anjula-sack commented on #400
This is issue is fixed

[2022-08-16 15:47] #400 closed

[2022-08-16 15:50] anjula-sack opened #410 "Aid packages should be bundled based on the supplier"
**Is your feature request related to a problem? Please describe.**
- When creating aid packages should be bundled based on the supplier

**Describe the solution you'd like**
- Bundle the aid packages based on the supplier

[2022-08-16 16:41] manuranga commented on #363
https://user-images.githubusercontent.com/1686124/184933226-07cbba91-a2ba-4434-8d66-5391b7c7ff48.mov

I am seeing this again in Safari
Asgadeo ref
[code]

[2022-08-16 19:37] #393 closed

[2022-08-17 05:33] nshamit opened #411 "Aid packages listing should have a Date Created column (left-most column)"
[ ] Aid packages listing should have a Date Created column (left-most column)

[2022-08-17 06:18] ratnajothy commented on #363
Would it be possible to enable the checkbox for `Preserve log` and then try exporting the HAR with network trace?

[2022-08-17 06:28] manuranga commented on #363
Sorry no, it didn't work, Export button seems to be disabled.

[2022-08-17 06:48] nshamit opened #412 "Freeze the header row in the admin portal create aid packages view"
- [x] Freeze the header row containing the fields need, beneficiary, unit, so that scrolling through rows below is more user friendly.

![Screen Shot 2022-08-17 at 12 16 57](https://user-images.githubusercontent.com/44461004/185053092-754daafa-7a13-4782-9de2-958d767ded59.jpg)

[2022-08-17 09:22] nshamit opened #413 "Aid package goes to naming stage even though medicine value was edited to zero in first stage"
To reproduce:
1. Select a medicine, enter value 1000
2. Select a second medicine, enter value 1000.
3. Go back to the first medicine and edit the value to 0.
4. Press Next to create aid package for the second medicine
5.  You should see both aid packages listed in the screen where their name can be edited. The first aid package will have the value 0.

![Screen Shot 2022-08-17 at 14 49 13](https://

[2022-08-17 12:32] anjula-sack commented on #410
This is the correct behaviour

[2022-08-17 12:32] #410 closed

[2022-08-17 12:36] #412 closed

[2022-08-18 04:13] nshamit opened #416 "Add additional volunteers to the website About Us section"
- [ ] Add additional volunteers to the website About Us section

Buddhi  Weerasekera
Dllina  Bandara

[2022-08-18 04:18] nshamit opened #417 "Change the website tab heading to Elixir - Medicines for Sri Lanka"
- [ ] Need to change the website tab heading to "Elixir - Medicines for Sri Lanka". Currently it says "Elixir - Donor"

![image](https://user-images.githubusercontent.com/44461004/185292577-12179b11-98ed-4327-96a4-65d96401d1b1.png)

[2022-08-18 12:41] dinuka-rp opened #418 "Token isn't passed in the Donor Portal"
**Is your feature request related to a problem? Please describe.**
Some requests that require the token to be passed don't seem to pass the token in request headers.

**Describe the solution you'd like**
Check Admin-portal Asgardeo config and append the token to donor portal requests.

[2022-08-18 12:51] dinuka-rp commented on #351
Once #418 is fixed, the dev environment needs to have token security activated again from Choreo.
Then, this can be closed.

[2022-08-18 13:08] dinuka-rp commented on #383
@jayasanka-sack Isn't this a separate page?

[2022-08-18 13:09] dinuka-rp commented on #383
@nipuna777 would you like to work on this?

[2022-08-18 13:22] nipuna777 commented on #383
@dinuka-rp I think I wrote this page to be responsive.

We should be able to close this off?

Desktop
![image](https://user-images.githubusercontent.com/5859290/185405305-6d16c76a-f006-427d-af42-094305c33a66.png)

Mobile
![image](https://user-images.githubusercontent.com/5859290/185405400-336048eb-abc7-4208-97cd-7be7c8ab4681.png)

[2022-08-18 13:24] dinuka-rp commented on #383
Oh cool 👌🏾 we can close this then
Thanks @nipuna777

[2022-08-18 13:24] #383 closed

[2022-08-18 13:27] #417 closed

[2022-08-20 08:20] anjula-sack opened #422 "Hide the needs that have zero remaining need"
**Is your feature request related to a problem? Please describe.**
- There's no point in showing the needs that have 0 remaining need

**Describe the solution you'd like**
- Hide the needs that have zero remaining need

[2022-08-20 12:48] #380 closed

[2022-08-20 12:53] #382 closed

[2022-08-20 12:53] #386 closed

[2022-08-20 12:56] anjula-sack commented on #416
This is done

[2022-08-20 12:56] #416 closed

[2022-08-20 12:57] #422 closed

[2022-08-20 13:44] nshamit opened #424 "Connect the donor portal donate button (donor not logged in, individual member of public is donating) to a payment site"
- [x] Connect the donor portal donate button (donor not logged in, individual member of public is donating) to a payment site.
The site URL is https://give.asia/campaign/medicince-for-sri-lanka-poject-elixir#/

![Screen Shot 2022-08-20 at 19 13 04](https://user-images.githubusercontent.com/44461004/185749298-c49c9e9e-b101-470f-b14d-a8e049b54429.jpg)

[2022-08-20 15:07] dinuka-rp commented on #264
Looks like all the mobile responsiveness-related issues have been taken care of. Will be closing this for now @nshamit

[2022-08-20 15:07] #264 closed

[2022-08-21 05:26] #424 closed

[2022-08-21 09:46] dinuka-rp opened #427 "GET aidpackages/{packageId}/pledges failing with 403"
Operation is not permitted to get pledges even though the other content is loaded.
![image](https://user-images.githubusercontent.com/47103883/185785154-1c9a87a1-1358-4283-b574-67e0a817a148.png)

The token is appended in this case.

[2022-08-21 09:47] dinuka-rp commented on #427
@manuranga need some help with this

[2022-08-21 09:59] dinuka-rp opened #428 "Post Update Comment failing"
It was discussed to remove the inclusion of the datetime from the frontend request to post an update comment.

[code]

[2022-08-21 10:00] dinuka-rp commented on #428
@manuranga I guess this might be getting added from a place you may have overlooked. Would appreciate if it can be re-checked

[2022-08-21 10:14] dinuka-rp commented on #428
PUT works as expected. POST (creation) doesn't

[2022-08-21 12:29] anjula-sack opened #429 "Improve the mobile responsiveness of the medical needs page"
**Is your feature request related to a problem? Please describe.**
- Mobile responsiveness needs to be improved in the medical needs page

**Describe the solution you'd like**
- Improve the mobile responsiveness of the medical needs page

[2022-08-21 12:38] #413 closed

[2022-08-21 12:48] dinuka-rp commented on #427
Happened previously in prod #376
Seems to be an Asgardeo error?

[2022-08-21 12:48] dinuka-rp commented on #427
refer #376

[2022-08-21 12:48] #427 closed

[2022-08-22 07:31] udda1996 commented on #302
We have avoid creating packages with amounts more than the remaining quantity form the supplier.

[2022-08-22 07:31] #302 closed

[2022-08-22 12:53] dinuka-rp commented on #428
fixed with https://github.com/LSFLK/MedicinesforLK-AdminAPI/pull/67

[2022-08-22 12:53] #428 closed

[2022-08-22 13:04] dinuka-rp commented on #418
`aidpackages/{packageId}` request fails with status 404 in the donor portal as it's an admin API, unless security is turned of from Choreo?

[2022-08-22 13:05] #429 closed

[2022-08-23 03:06] #184 closed

[2022-08-23 03:29] #411 closed

[2022-08-23 12:05] #336 closed

[2022-08-23 12:44] nshamit commented on #373
@anjula-sack @udda1996 any updates on this?

[2022-08-23 12:45] nshamit commented on #368
HI @dinuka-rp is this taken care of ?

[2022-08-23 13:05] dinuka-rp commented on #368
@nshamit I'm holding on this issue since it can't be tested without the GET pledges API, which doesn't work as mentioned in #376

[2022-08-24 12:13] #329 closed

[2022-08-24 12:15] dinuka-rp commented on #376
Closing this since it works now @manuranga

[2022-08-24 12:15] #376 closed

[2022-08-24 12:42] #351 closed

[2022-08-24 12:46] dinuka-rp commented on #418
I don't notice any difference between the donor & admin portals. Hope @anjula-sack can take a look into this and try to find any difference.

[2022-08-24 13:04] dinuka-rp commented on #363
Seems to be fixed by #430

[2022-08-24 13:04] #363 closed

[2022-08-26 12:56] #368 closed

[2022-08-28 12:46] manuranga opened #438 "Donor potal login button dosn't change after logging in"
Logging button remain "Login" but I can pledge.

[2022-08-29 08:23] nipunsampath commented on #438
@manuranga was this the dev environment? I couldn't reproduce this locally.

[2022-08-29 08:26] manuranga commented on #438
Yes, but it's there in prod as well. Could be a firefox issue.

[2022-08-29 09:08] nipunsampath commented on #438
Ack, I'll try with firefox.

[2022-08-29 16:05] anjula-sack opened #439 "Mobile navbar is not closing when the user click somewhere outside the navbar"
**Is your feature request related to a problem? Please describe.**
- Mobile navbar is not closing when the user click somewhere outside the navbar

**Describe the solution you'd like**
- Mobile navbar should close when the user click somewhere outside the navbar

[2022-08-29 16:49] anjula-sack commented on #373
This needs to be handled from the backend. @udda1996 can you take a look again?

[2022-08-29 18:41] DilinaBandara opened #441 "CSV file not being uploaded in the Suppliers tab"
**Is your feature request related to a problem? Please describe.**
The CSV file does not get uploaded after choosing the file

**Describe the solution you'd like**
The CSV file needs to get uploaded after being selected

**Additional context**
![image](https://user-images.githubusercontent.com/104125359/187274380-fcee49cc-c7e9-4583-ae52-c1b43f3299af.png)

[2022-08-29 18:42] DilinaBandara opened #442 "CSV file not being uploaded in the Needs tab"
**Is your feature request related to a problem? Please describe.**
The CSV file does not get uploaded after choosing the file

**Describe the solution you'd like**
The CSV file needs to get uploaded after being selected

**Additional context**
![image](https://user-images.githubusercontent.com/104125359/187274457-c9b72eb2-9d53-4445-af77-fac516c99aa7.png)

[2022-08-30 12:16] #418 closed

[2022-08-31 03:43] #439 closed

[2022-08-31 06:30] nshamit opened #445 "Update Hard Talk PR details on website"
- [ ] Update logo from here: https://drive.google.com/drive/folders/1qnQVIr3myQh8Fe1Q25K8uPNwT6hqhtpU?usp=sharing

- [ ] HardTalk (pvt) Ltd is a specialized Public Relations company, operating in both the traditional and digital spaces of strategic communications. The HardTalk advantage is the pairing of deep local insights with global best practices to deliver customized solutions using an array

[2022-09-01 12:34] dinuka-rp commented on #441
This issue was fixed when the new CSV file was used.

[2022-09-01 12:34] #441 closed

[2022-09-01 12:35] dinuka-rp commented on #442
This issue was fixed when the new CSV file was used.

[2022-09-01 12:35] #442 closed

[2022-09-02 11:34] nshamit opened #448 "Remove some Hard Talk PR text from About Us"
- [x] Remove: (backed by the Derana Group and Liberty Publishing)

[2022-09-02 12:29] nipunsampath commented on #438
- The login issue on the prod was resolved when the latest changes were deployed.

- The login was failing on [donor-portal-rouge.vercel.app](https://donor-portal-rouge.vercel.app/) because the environment variable `REACT_APP_CLIENT_ID` was not visible to the preview environment on Vercel. That's why it was not locally reproducible.

I think we can close the issue. Please reopen this if you reenco

[2022-09-02 12:29] #438 closed

[2022-09-02 12:55] manuranga commented on #364
Lets add 'kind' to medical item that says its a donation and set a fake amount like 1000000. Elegant way to do it would be use a different table l, but that will require significant changes.

[2022-09-02 13:31] #448 closed

[2022-09-02 14:54] nipunsampath opened #450 "Link the email with a mailto link in the Transparency section in the About Us page"
### Description
The **elixir@redcross.lk** email address should be linked with a mailto link in the **Transparency** section in the **About Us** page.

<img width="584" alt="Screenshot 2022-09-02 at 20 22 05" src="https://user-images.githubusercontent.com/27700915/188176371-55a1910c-57f2-4efa-b483-0f375e33d874.png">

[2022-09-03 07:21] manuranga commented on #310
@ayeshLK I merged and rolled out the changes, I am seeing following error in donor dev portal:
[code]

[2022-09-03 08:21] manuranga commented on #310
Fixed above. @dinuka-rp frontend part can be started now.

[2022-09-03 14:45] jayasanka-sack commented on #343
Hi Manu, it won't be an issue as long as the resource is public. By the way, we need to make sure we are not exposing any sensitive information.

[2022-09-04 04:45] dinuka-rp commented on #310
@manuranga @ayeshLK thanks,
Was the existing API of GET aidpackage details updated to send the required info?

[2022-09-05 06:48] nshamit commented on #123
@jayasanka-sack @anjula-sack can we close this issue?

[2022-09-05 12:17] #450 closed

[2022-09-05 13:54] anjula-sack commented on #123
@nshamit We do have the frontend validation now but the backend validation is still there. Maybe we can consider this at the refactoring stage.

[2022-09-05 15:21] #310 closed

[2022-09-07 03:04] anjula-sack opened #459 "Delete aid package throws 500 sometimes"
**Is your feature request related to a problem? Please describe.**
This happens randomly when the user is trying to delete an aid package. The following error comes from the response.

[code]

<img width="858" alt="image" src="https://user-images.githubusercontent.com/43912578/188779307-b3b38c62-2c3f-4327-90e6-139562e48dbd.png">

**Describe the solution you'd like**
Delete aid package should not t

[2022-09-07 04:37] nshamit opened #460 "Invalid CSV length in line 2 of Master Needs tab in Medical Needs sheet. Error also in Supply Quotation page"
- [ ] Prod environment: Cannot upload the CSV files downloaded from the Master Needs tab. I get an error message:

![Screen Shot 2022-09-07 at 10 02 23](https://user-images.githubusercontent.com/44461004/188789534-71567e3a-0376-4d3e-a256-532ff5017942.jpg)

To reproduce:
1. Download CSV from Master Needs tab
2. Upload in the Needs uploader of admin portal (production environment).
3. Receive error

[2022-09-07 04:40] nshamit commented on #460
In Supply Quotation page, we get this error: Invalid csv length in line 1:

![Screen Shot 2022-09-07 at 10 08 36](https://user-images.githubusercontent.com/44461004/188790019-011ddb04-df0d-4b1d-b74e-4104e870b61d.jpg)

[2022-09-07 05:23] akbandara commented on #460
Do these same CSV files fail in development environment?

[2022-09-07 05:36] nshamit commented on #460
Yes, I receive the same errors in the dev environment as well.

[2022-09-07 06:18] akbandara commented on #460
I think I have diagnosed the issue after looking at the Ballerina code that processes the CSV (https://github.com/LSFLK/MedicinesforLK-AdminAPI/blob/main/csv_processor.bal).

Looking at the ‘createQuotationFromCSVData’ and ‘createMedicalNeedsFromCSVData’ functions, I think the issue is because we changed the columns in the CSV to include the extra fields as follows:
Master Needs - now includes a c

[2022-09-07 06:37] nshamit opened #461 "In prod environment, cannot save draft aid package, keeps freezing"
- [ ] In prod environment, cannot save draft aid package. It keeps freezing.

To reproduce:
1. Go to Create aid package
2. Change name and description
3. Press Save draft button

![Screen Shot 2022-09-07 at 12 02 59](https://user-images.githubusercontent.com/44461004/188806248-13dfd7ea-fe7b-462d-b379-6289b18afc66.jpg)

[2022-09-07 06:41] nshamit opened #462 "When you click the save as draft button, you require a cancel button as well as OK button in the pop up message"
- [ ] When you click the save as draft button, you require a cancel button as well as OK button in the pop up message as users may not edit the details before they save as draft. Including this back/cancel button will ensure they can avoid this.

![Screen Shot 2022-09-07 at 12 09 09](https://user-images.githubusercontent.com/44461004/188806928-fb2ee0ec-433e-4fdb-86b1-750b2b0dc35a.jpg)

[2022-09-07 06:43] nshamit commented on #461
The same happened to this aid package:
![Screen Shot 2022-09-07 at 12 12 23](https://user-images.githubusercontent.com/44461004/188807433-c425ac43-4ca8-4b2c-bf04-a52b39b00d76.jpg)

[2022-09-07 06:44] nshamit opened #463 "Remaining need is showing as minus values"
- [ ] Total assigned quantity must be less than quantity needed. Aid packages could still be created in excess of quantity available. Remaining need is showing as minus values.

Need to check if values when edited in the detailed aid package view are causing this or if values in the create aid package view are being allowed.

![IMG_5267](https://user-images.githubusercontent.com/44461004/188861708

[2022-09-07 06:52] nshamit opened #464 "Expiry date is not correctly formatted. Should be DD/MM/YY. Is currently MM/DD/YY"
- [ ] Expiry date is not correctly formatted. Should be DD/MM/YY. Is currently MM/DD/YY.

![Screen Shot 2022-09-07 at 12 20 25](https://user-images.githubusercontent.com/44461004/188809138-d2c71ac8-f35d-48f2-8b30-be471c4a4153.jpg)
![Screen Shot 2022-09-07 at 12 21 29](https://user-images.githubusercontent.com/44461004/188809162-6d0a388c-9747-4d33-9bd3-51acaae3090e.jpg)

[2022-09-07 06:55] nshamit opened #465 "Time stamp on donor portal showing 1970 for YYYY while on the admin portal side, the time stamp is showing correctly."
- [ ] Time stamp on donor portal showing 1970 for YYYY while on the admin portal side, the time stamp is showing correctly.
![Screen Shot 2022-09-07 at 12 24 19](https://user-images.githubusercontent.com/44461004/188809567-eafcf53c-abaa-489d-be3a-a3d91643633c.jpg)

![Screen Shot 2022-09-07 at 12 25 31](https://user-images.githubusercontent.com/44461004/188809766-7b10c34e-10d2-4631-989c-23e929cad6d

[2022-09-07 07:07] nshamit opened #466 "Remove see pledge status link in admin portal as donor pledges are now visible in the aid package details page."
- [ ] Remove see pledge status link in admin portal as donor pledges are now visible in the aid package details page.

![Screen Shot 2022-09-07 at 12 36 15](https://user-images.githubusercontent.com/44461004/188811851-98e7f2ab-4ba4-476e-ae8e-0c4a691ef56e.jpg)

[2022-09-07 07:09] nshamit opened #467 "Updated aid package status in admin portal, and after successful status change, tried to add a post. Post froze."
- [ ] Updated aid package status in admin portal, and after successful status change, tried to add a post. Post froze.

![Screen Shot 2022-09-07 at 12 38 29](https://user-images.githubusercontent.com/44461004/188812289-a59569cd-b392-4bcb-a00e-d31dc28a6218.jpg)

[2022-09-07 07:10] nshamit commented on #467
To reproduce:
1. Change the aid package status.
2. After successful aid package status change, create a post
3. Submit post.

[2022-09-07 09:44] nshamit opened #468 "When editing medicine quantity for an aid package, an error message that does not make sense shows"
- [ ] Error message that does not make sense shows: "Already done Pledges amount exceeds the Aid Package Item Quantitiy Update"

This aid package does not have any pledges towards it yet. I'm not sure why this is showing.

To reproduce:
1. Go to prod, aid package TEST3 | Blood Bank Supplies
2. Edit the medicine quantity of the first medicine from 1000 to 500.
3. Receive message in the screenshot a

[2022-09-07 09:53] #461 closed

[2022-09-07 15:48] anjula-sack commented on #464
<img width="320" alt="image" src="https://user-images.githubusercontent.com/43912578/188922053-2ba3a5d7-10ae-4074-b326-61a9bab953da.png">
This is the payload. Seems like the month and day are swapped. This should be handled from the BE.
cc: @manuranga

[2022-09-10 10:33] anjula-sack opened #469 "Admin portal should be responsive for smaller desktop sizes"
**Is your feature request related to a problem? Please describe.**
- Currently, Admin portal is not responsive for smaller desktop sizes

**Describe the solution you'd like**
- Admin portal should be responsive for smaller desktop sizes

[2022-09-10 12:55] anjula-sack opened #471 "Get aid packages donor API should returned aid packages sorted based on the created date"
**Is your feature request related to a problem? Please describe.**
- Get aid packages return the oldest ones first. It should be other way around.

**Describe the solution you'd like**
- Newly created aid packages should show first

[2022-09-12 11:57] dinuka-rp commented on #465
@anjula-sack I can take this up if u haven't already applied a fix

[2022-09-12 15:13] #373 closed

[2022-09-12 17:13] anjula-sack commented on #465
I don't think this is an issue. It's only on prod. and in the code, we are formatting the UNIX timestamp. maybe you can give a try as well.

[2022-09-13 04:13] nshamit commented on #370
@ayeshLK
As discussed: https://docs.google.com/spreadsheets/d/1qRcb_oSRGlNrPL9UsHbeQ1dDkSLWlTtE80m374fQZLg/edit?pli=1#gid=1776238512

Medical Needs Google doc:
- Download Medical Needs from Master Needs tab
- Download Supply Quotation from Supply Quotation tab

Enclosing the CSV files for dev testing:

[SupplyQuotation success dedup.csv](https://github.com/LSFLK/MedicinesforLK/files/9553447/Supply

[2022-09-13 05:01] nshamit opened #472 "Error message in prod when uploading supply quotation form, only experienced by one user."
Error message in prod when uploading supply quotation form, only experienced by one user.:

![Screen Shot 2022-09-12 at 17 05 04](https://user-images.githubusercontent.com/44461004/189813101-39b80afb-9948-4fd4-8aac-c7684f385294.jpg)

[2022-09-13 05:26] manuranga commented on #472
From error logs it looks like this is the line that throws the error https://github.com/LSFLK/MedicinesforLK-AdminAPI/blob/336e8f9efd7731aeae1b3dbc84c444ab9aab9fda/csv_processor.bal#L97

[2022-09-13 05:30] manuranga commented on #472
Basically it looks like there was a period that dosn't follow the format `mm yyyy`.

[2022-09-13 07:04] nshamit opened #473 "Dev env : Medicines from same supplier getting populated in aid packages relating to that supplier"
- [ ] Dev env : Medicines from same supplier getting populated in aid packages relating to that supplier

First Aid package was for only Erythropoeitin (Sept 2022), from Zydus, BUT it also contains Gauze.
![Screen Shot 2022-09-13 at 12 28 51](https://user-images.githubusercontent.com/44461004/189832483-c80b7305-809c-497b-978e-7f0a9be48542.jpg)

Second Aid package was for only Gauze (Aug 2022), fro

[2022-09-13 07:06] nshamit opened #474 "Dev env: On selecting published, the automatic post with the medicines does not show"
- [ ] Dev env: On selecting published, the automatic post with the medicines does not show. It shows only when you post another comment.

[2022-09-13 07:19] nshamit opened #475 "Dev env: Cannot save edits to medicine quantities in the admin portal detailed aid package view"
- [ ] Dev env: Cannot save edits to medicine quantities in the admin portal detailed aid package view.

![Screen Shot 2022-09-13 at 12 47 54](https://user-images.githubusercontent.com/44461004/189836047-4d3a5be2-a129-4a49-9e70-cd3aa3118ee5.jpg)

[2022-09-13 13:59] anjula-sack opened #476 "API requests are timing out with a CORS error"
- Most of the endpoints are timing out, have to refresh the browser multiple times to get a successful request.

- I have experienced this with the following APIs,
[code]

<img width="518" alt="image" src="https://user-images.githubusercontent.com/43912578/189917927-b497c349-a3fb-4351-9756-269dcdf83993.png">

[2022-09-13 15:53] #476 closed

[2022-09-13 16:48] manuranga opened #477 "Request return 401 the first time but succeed the second try"
<img width="744" alt="Screenshot 2022-09-13 at 10 04 13 PM" src="https://user-images.githubusercontent.com/1686124/189957980-3172546f-764c-4813-816d-ae809fba2510.png">

<img width="744" alt="Screenshot 2022-09-13 at 10 04 49 PM" src="https://user-images.githubusercontent.com/1686124/189958025-7b98106d-c5be-43aa-9168-4539e1f527ce.png">

[createpkgfail401.har.zip](https://github.com/LSFLK/Medicinesf

[2022-09-14 09:52] nshamit commented on #271
@anupama-pathirage can you take this on? can you recommend someone?

[2022-09-14 09:55] nshamit commented on #460
#370

[2022-09-14 09:57] nshamit opened #478 "Should allow medicines of any period BUT same supplier to be grouped together in one aid package."
- [ ] Should allow medicines of any period BUT same supplier to be grouped together in one aid package. Currently, they are created as separate aid packages.

[2022-09-14 10:55] nshamit commented on #472
We understood that this was due to accidentally edited data in the supply quotation csv form. We sent the user the correct CSV file. This error did not persist.

[2022-09-14 10:55] #472 closed

[2022-09-14 11:54] nshamit opened #479 "Upload donor logo with aid package"
- [ ] Upload donor logo with aid package which is publicly visible in the donor portal/ public view.

Rationale: to create more of a feeling that the platform is a coordinating platform for all organizations and not only red cross.

[2022-09-14 12:41] #469 closed

[2022-09-14 13:07] akbandara commented on #479
Discussed during Scrum on 14 Sep and agreed to create 2 fields in the aid package record for URLs of image file:

ThumbnailImageURL = url to image file to be shown in aid package listings
BannerImageURL = url of image to be shown at top of aid package listing

[2022-09-14 13:09] manuranga commented on #265
We keep getting `Already done Pledges amount exceeds the Aid Package Item Quantitiy Update` for any quantity update.

[2022-09-14 13:49] dinuka-rp commented on #465
The issue is in the backend @manuranga @nshamit

dateTime is received as null. It's sending the datetime in a DB/ Ballerina format. I'm guessing this is the object/ struct used to hold the date by Ballerina.
![image](https://user-images.githubusercontent.com/47103883/190171382-5ca6148b-9054-45d5-a980-586cae945ba3.png)

A frontend validation can be added to not display the _dateTime_ if it's _null_

[2022-09-14 13:50] dinuka-rp commented on #465
@manuranga would be great if u could look into this/ assign someone from the BE team

[2022-09-15 06:02] ayeshLK commented on #370
@nshamit I hv added the PR to create the non-existing medical-items when uploading medical-needs csv file. But, to create a medical-item, we need to have a `type` for the medical item (Medicine/Device etc.). But this information is not in the uploaded csv file. Hence, I hv added the default value for this as `Medicine`.

Could you please verify whether this is okay ?

[2022-09-15 09:49] nshamit commented on #370
@manuranga @akbandara please provide more info here.

The type information is located in the Master Needs tab (google sheet below) but the information is not brought into the system.
https://docs.google.com/spreadsheets/d/1qRcb_oSRGlNrPL9UsHbeQ1dDkSLWlTtE80m374fQZLg/edit?pli=1#gid=1776238512

Is there a way to define the columns that download in the CSV and include column G from master needs?

[2022-09-15 12:42] akbandara commented on #370
We can't specify which columns of the spreadsheet get downloaded in the CSV - all the columns are included in the download. Here are the latest versions

[Medical Needs - Master Needs.csv](https://github.com/LSFLK/MedicinesforLK/files/9575296/Medical.Needs.-.Master.Needs.csv)
 of the CSVs to use when testing

[Medical Needs - SupplyQuotation.csv](https://github.com/LSFLK/MedicinesforLK/files/95753

[2022-09-15 16:14] anjula-sack opened #481 "Update the homepage content"
**Is your feature request related to a problem? Please describe.**
- We need to update the homepage a bit

**Describe the solution you'd like**
- Update the header text
Coordinated donations to Sri Lanka’s medical supply needs
- Use the MOH logo instead of redcross

![image001](https://user-images.githubusercontent.com/43912578/190454845-2130b7bf-89c1-466e-9e3c-9e8d87adfe8e.png)

[2022-09-15 17:00] nshamit commented on #467
most likely related to the timeout issue. let's check on this once the timeout issue is resolved.

[2022-09-15 17:02] nshamit commented on #475
related to the timeout issue, mos tlikely.

[2022-09-15 19:32] #481 closed

[2022-09-15 19:51] dinuka-rp opened #484 "Add Red Cross logo & description to partners in About Us of Donor Portal"
Make _SL Red Cross_ the very first partner on the _About Us_ page, under the _partners_ section.

---
Use the following text as the description of the partner.

_The Sri Lanka Red Cross Society has operated since 1936. We focus on Disaster Management, Health, Organization Development, Humanitarian Values, Communication, Finance, and Transportation. The SLRCS covers all 25 administrative Districts

[2022-09-15 19:59] dinuka-rp opened #485 "Create an Needs page"
**Is your feature request related to a problem? Please describe.**
Anyone needs to be able to visit the "Urgent Needs" page and see the necessities identified by the admins of the platform.

**Describe the solution you'd like**
The urgent needs list should be a static page that contains a table.
The backend will have to send data later, to populate the table.

Ashok: _"We will not be going live wi

[2022-09-16 01:52] #484 closed

[2022-09-16 02:06] anjula-sack opened #487 "Update home page main section text"
**Is your feature request related to a problem? Please describe.**
- We need to update the main paragraph texts a bit

<img width="1239" alt="image" src="https://user-images.githubusercontent.com/43912578/190540665-57ebff35-d69c-42f6-9cd6-0d3e23f9d2b3.png">

**Describe the solution you'd like**

An Acute Medical Emergency
Sri Lanka needs a coordinated response to address the overall medical needs

[2022-09-16 04:11] nshamit opened #489 "Make a correction in the list of volunteers: Natasha Perera should be Dr. Natasha Perera"
- [ ] Make a correction in the list of volunteers: Natasha Perera should be Dr. Natasha Perera

[2022-09-16 04:14] nshamit commented on #473
Outcomes need to be:
1. Grouping items from one supplier, regardless of the period in one aid package. Fix #478, and we will not need to fix this issue, I think.

[2022-09-16 04:16] nshamit commented on #479
Manu will pick this up on the weekend.

[2022-09-16 04:35] #466 closed

[2022-09-16 04:43] #489 closed

[2022-09-16 04:44] #487 closed

[2022-09-16 11:26] nshamit commented on #265
as recorded in #468

[2022-09-16 13:23] dinuka-rp opened #492 "Make the Donate Now page UI mobile responsive"
**Is your feature request related to a problem? Please describe.**
The donor portal Donate Now page shows a messy UI with overflowing text.

**Describe the solution you'd like**
Make the text & surrounding elements mobile responsive.

**Describe alternatives you've considered**
Scale the text & adjust the containers/ package views based on the size of the content, without letting it overflow.

**A

[2022-09-16 13:23] dinuka-rp commented on #492
@kanushka Would u be able to look into this pls?

[2022-09-16 13:38] kanushka commented on #492
I will check this

[2022-09-17 05:32] #464 closed

[2022-09-17 05:34] #465 closed

[2022-09-17 05:35] #471 closed

[2022-09-17 08:39] dinuka-rp commented on #485
@anjula-sack will u be able to take this up?

[2022-09-17 08:50] anjula-sack commented on #485
Yeah sure

[2022-09-19 10:08] nshamit opened #495 "Create a duplicate aid package API in Donor API"
During the review we identified that, below API can be accessed without an access token.

https://9d2b57ae-4349-44f2-971c-106ae09d244d-prod.e1-us-east-azure.choreoapis.dev/qmov/admin-api/1.0.0/aidpackages
https://9d2b57ae-4349-44f2-971c-106ae09d244d-prod.e1-us-east-azure.choreoapis.dev/qmov/admin-api/1.0.0/aidpackages/12

Screenshot 2022-09-18 at 13.28.55.png

This is a critical vulnerability .

T

[2022-09-19 12:05] nshamit opened #496 "Dev env: When deleting aid package, error message is shown, but deletion is allowed"
- [ ] When deleting aid package, error message is shown, but deletion is allowed. May need to change/ remove this error message.

![Screen Shot 2022-09-19 at 17 28 20](https://user-images.githubusercontent.com/44461004/191013213-d32f4769-19fa-4a81-8307-88f4d2f61967.jpg)

Aid package is deleted as you can see in the screenshot below, so delete aid package functionality works fine.
![Screen Shot 202

[2022-09-19 12:19] nshamit opened #497 "Dev env: When saving aid package, error message is received, but aid package is saved"
- [ ] Dev env: When saving aid package, error message is received, but aid package is saved

https://user-images.githubusercontent.com/44461004/191015415-af51a01d-e0eb-4ae8-84b5-799fe8dd5b1f.MOV

Aid package has been successfully saved despite seeing the 'Something went wrong' error message on pressing 'Save draft'.

![Screen Shot 2022-09-19 at 17 48 30](https://user-images.githubusercontent.com/4

[2022-09-19 12:22] nshamit commented on #468
As of Sept 19, still showing:

![Screen Shot 2022-09-19 at 17 51 20](https://user-images.githubusercontent.com/44461004/191016000-2a0472fb-eacc-4292-939b-691d00561ae7.jpg)

[2022-09-19 12:59] dinuka-rp commented on #497
<img width="999" alt="image" src="https://user-images.githubusercontent.com/47103883/191022750-3fbde74d-6234-458e-88f9-ede42de3d769.png">
Backend is responding with status 500, with a SQL error

[2022-09-19 18:43] dinuka-rp commented on #492
@kanushka pls check Slack, I sent you the env file.
Take a pull as well, in case you haven't, and run _npm i_. There were quite a lot of changes in the sdk

[2022-09-20 07:16] nshamit opened #498 "Make a change to a volunteer name: Dr. Sanjiva Weerawarana"
- [ ] Make a change to a volunteer name: Dr. Sanjiva Weerawarana. Currently it is Sanjiva Weerawarana. Please add the Dr. credentials.

[2022-09-20 07:20] nshamit opened #499 "Remove pledges button from Admin Portal aid packages View"
Remove pledges button from Admin Portal aid packages View

![Screen Shot 2022-09-20 at 12 49 36](https://user-images.githubusercontent.com/44461004/191192766-95a92045-3675-46f7-bfc4-8b6a6c9edeca.jpg)

[2022-09-20 15:30] #460 closed

[2022-09-20 18:52] #492 closed

[2022-09-21 04:23] #498 closed

[2022-09-21 10:17] nshamit commented on #467
Not seeing this behavior continue

[2022-09-21 10:17] #467 closed

[2022-09-21 13:20] nshamit commented on #485
Ref: Date that the list is updated, we will need to include some text with the date:

This needs list from the Ministry of Health, Sri Lanka is up-to-date as of : 21 Sep, 2022.

[2022-09-21 13:24] nshamit commented on #370
@ayeshLK, @manuranga - @akbandara provided the following feedback about this issue fix in dev:

I have managed to test the needs upload and it is working now.
However, the supplier quotation upload has an issue due to missing data in linked tables - MEDICAL_ITEM and SUPPLIER.

It would be good to discuss the best way to add/update entries in the MEDICAL_ITEM and SUPPLIER table.

A suggestion for g

[2022-09-21 15:15] #499 closed

[2022-09-22 12:01] nshamit opened #503 "Mobile responsiveness: package titles are cropped/ overlapping"
- [ ] Mobile responsiveness: package titles are cropped/ overlapping

From Anjula:
![From Anjula](https://user-images.githubusercontent.com/44461004/191741157-e70c97b9-50ed-4c85-b921-ec353639e12c.png)

From Sherazad, iphone:
![From iphone](https://user-images.githubusercontent.com/44461004/191741198-f0081d92-12dc-400f-9cbc-dbce0d24af4f.PNG)

[2022-09-22 14:35] akbandara commented on #485
Some additional points of clarification to help with this.

The date will be set by in the Admin Portal when the user uploads a new Needs list. Therefore, the admin portal UI will need to add a date picker between the file chooser and the upload button

On the Donor portal, there will be a page linked to the top-level navigation. The title of this can be "Latest needs" to avoid any confusion with

[2022-09-22 14:42] akbandara opened #504 "Add tab to Admin portal to support upload of supplier information"
**Is your feature request related to a problem? Please describe.**
It is not possible to add or update supplier information in the system

**Describe the solution you'd like**
The current tab labelled 'Suppliers' should be renamed to 'Quotations', and a new tab called 'Suppliers' created that allows upload of a CSV containing the details of suppliers. The behaviour of the upload functionality shou

[2022-09-22 19:02] manuranga commented on #479
It shouldn't be mandatory, but you can't send `null`. Ie: ether filed is not there, or field is a string.

[2022-09-22 19:04] dinuka-rp commented on #479
response when sending only thumbnail

[code]

[2022-09-22 19:05] dinuka-rp commented on #479
But, both banner & thumbnail are received as null and these are updated separately.

[2022-09-22 19:30] dinuka-rp opened #506 "CORS error when fetching aidpackge details in donor portal"
**Is your feature request related to a problem? Please describe.**
Backend: Getting aid package details in the donor portal seems to give a CORS error.
Frontend: The logo keeps spinning even after the request fails with 404. This needs to be fixed - stop showing the spinner & show an error message.

**Additional context**
<img width="760" alt="image" src="https://user-images.githubusercontent.com/

[2022-09-22 19:31] dinuka-rp commented on #506
Please close this issue if it's redundant. I remember that this CORS error was there even before (not sure if it was this API). This is the first time that I experienced it.

[2022-09-22 20:26] manuranga commented on #479
Getting it back as null seems to be a ballerina bug, but was able to create aid pakage with or without thumbnail via postman.
![Uploading Screenshot 2022-09-23 at 1.55.07 AM.png…]()

[2022-09-23 02:26] anjula-sack commented on #506
In the dev env. It is calling the `admin-api`.  We are using the `admin-api` to get the package details right?

[2022-09-23 12:02] nshamit commented on #479
@dinuka-rp provide information to the user on the dimension of the image that needs to be uploaded as well.

There is a use case where multiple donors will contribute to an aid package, so we will have to create a custom image with multiple logos in another application e.g. canva, and then upload the image with the correct dimensions.

[2022-09-24 05:30] dinuka-rp commented on #506
@anjula-sack As I remember, we're using only donor apis now in the donor portal. Even in the above screenshot, it's using a donor API. This is in the local dev environment

[2022-09-24 05:31] dinuka-rp commented on #506
@ayeshLK could you pleas look into this?

[2022-09-27 04:19] manuranga commented on #479
I reported this to Ballerina sql team, https://github.com/ballerina-platform/ballerina-standard-library/issues/3423
I will make it nullable as a workaround for now.

[2022-09-27 09:10] udda1996 commented on #496
@nshamit After the deletion, does the remaining quantities get updated as expected?

[2022-09-27 12:47] #506 closed

[2022-09-28 02:46] #503 closed

[2022-09-28 02:48] anjula-sack commented on #473
Fixed by https://github.com/LSFLK/MedicinesforLK/pull/493

[2022-09-28 02:48] #473 closed

[2022-09-28 02:48] anjula-sack commented on #478
Fixed by https://github.com/LSFLK/MedicinesforLK/pull/493

[2022-09-28 02:48] #478 closed

[2022-09-30 09:48] SasinduDilshara commented on #271
I will look on to this

[2022-09-30 12:42] akbandara commented on #463
We think this is a data issue, due to needs being updated with lower quantities.  Needs to be retested once other changes are pushed to production.

[2022-09-30 12:44] akbandara commented on #475
Timeout issues now resolved .. reducing priority of this issue

[2022-09-30 12:46] akbandara commented on #477
Fixed with changes made to fix double submit issue.

[2022-09-30 12:46] #477 closed

[2022-10-03 05:27] SasinduDilshara commented on #271
https://github.com/LSFLK/MedicinesforLK-AdminAPI/pull/80/files

[2022-10-04 10:51] DilinaBandara opened #510 "When uploaded of supply quotation csv. Success message does not states the number of rows uploaded"
**Is your feature request related to a problem? Please describe.**
When uploading a CSV file a success message does not state the number of rows that are updated

**Describe the solution you'd like**
When we upload a CSV file to the Supplier Quotation Upload in Suppliers tab, the file is not uploaded successfully and there is no message which states the number of rows that are updated

**Additiona

[2022-10-04 12:35] #485 closed

[2022-10-04 12:48] nshamit commented on #462
@dinuka-rp can you take care of this one?

[2022-10-04 12:49] nshamit commented on #463
@akbandara @anjula-sack @DilinaBandara @dinuka-rp can we retest this?

[2022-10-04 12:49] #474 closed

[2022-10-04 12:50] nshamit commented on #475
@DilinaBandara can you test this please? and add this to the list of test cases/ scenarios.

[2022-10-04 12:50] nshamit commented on #495
@manuranga @dinuka-rp @anjula-sack can we close this?

[2022-10-04 12:51] nshamit commented on #496
@DilinaBandara @anjula-sack can you test this please?

[2022-10-04 12:51] nshamit commented on #497
@DilinaBandara @anjula-sack can we test this please?

[2022-10-05 02:42] anjula-sack opened #511 "When uploading the needs CSV the admin should be able to add a date as well"
**Is your feature request related to a problem? Please describe.**
- When uploading the needs CSV the admin should be able to add a date as well

**Describe the solution you'd like**
- Add a date picker to the medical needs tab

[2022-10-05 02:43] anjula-sack commented on #496
I asked @DilinaBandara to test this.

[2022-10-05 19:11] DilinaBandara commented on #475
@nshamit I keep receiving this message when attempting to edit quantity and save it

![image](https://user-images.githubusercontent.com/104125359/194142576-e990eed9-2353-41d6-b2b9-f8d2922b7c39.png)

[2022-10-06 12:46] ayeshLK commented on #504
For supplier CSV we need following fields:
- Supplier Name
- Supplier Short Name
- Email
- Phone Number

@akbandara / @dinuka-rp FYI

[2022-10-06 13:11] manuranga commented on #495
@SasinduDilshara will look into this.

[2022-10-06 13:54] manuranga opened #512 "Support multiple quotation differ by brand name"
I changed the database to have the brand name as part of the quotation primary key. Initial aid package creation UI rendered fine.
But I could not enter separate values

https://user-images.githubusercontent.com/1686124/194305384-6ee43eba-5d2d-4b9b-ad56-7bc6dbcac72b.mov

es for both, when I change one other gets updated.

also when I click next I can only see on. HTTP POST is also sending only one

[2022-10-07 16:21] DilinaBandara commented on #475
Can you take a look at this @anjula-sack

[2022-10-08 06:02] AmilaJ commented on #468
Messege Triggered from
https://github.com/LSFLK/MedicinesforLK-AdminAPI/blob/bad7c4b024cd73e27e9c0333d5c9f21dd6d00239/service.bal#L132

Happens due to following method is not evaluating correct at
https://github.com/LSFLK/MedicinesforLK-AdminAPI/blob/bad7c4b024cd73e27e9c0333d5c9f21dd6d00239/db_processor.bal#L435

One suspect scenario is already pledged amount will be zero but when calculating aid

[2022-10-08 08:06] #479 closed

[2022-10-08 13:11] dinuka-rp opened #514 "Enable the Create aid package 'Next' button regardless of the negative values in remaining needs"
**Is your feature request related to a problem? Please describe.**
The creation of aid packages is Blocked with a message when any of the medical needs have a negative value in remaining needs.

![image](https://user-images.githubusercontent.com/47103883/194709066-7e0bd899-21ef-4876-aa3e-6a3d9df76fe6.png)

**Describe the solution you'd like**
Don't disable the 'Next' button.
Showing the error mess

[2022-10-08 13:31] akbandara commented on #504
Here is an example CSV with supplier details
[Medical Needs - Suppliers.csv](https://github.com/LSFLK/MedicinesforLK/files/9739330/Medical.Needs.-.Suppliers.csv)

[2022-10-08 13:58] dinuka-rp commented on #462
Blocked by #514

[2022-10-09 11:46] #511 closed

[2022-10-10 13:02] dinuka-rp commented on #462
Closing the issue since the current behavior works as expected. A package won't be created if the name hasn't been given

[2022-10-10 13:02] #462 closed

[2022-10-10 13:14] anjula-sack opened #517 "Use moment's unix function to get the unix timestamp"
**Is your feature request related to a problem? Please describe.**
- We need to use the correct method to get the unix timestamp when sending the last updated date in the needs upload

**Describe the solution you'd like**
- Use `moment().unix()` function to get the date in unix format

[2022-10-10 13:49] anjula-sack opened #519 "Fix the last updated date issue in the needs page"
**Is your feature request related to a problem? Please describe.**
- There's a mismatch in the Unix date from the medical needs API causing it not to show the date.

**Describe the solution you'd like**
- Divide the Unix date by 1000 and get the date from moment

[2022-10-10 18:47] #519 closed

[2022-10-11 02:49] #514 closed

[2022-10-11 04:25] anjula-sack opened #521 "Make the Goal Reached tab default in the donate page"
**Is your feature request related to a problem? Please describe.**
- We need to make "Goal Reached" the default that appears instead of "goal pending"

**Describe the solution you'd like**
- Make the Goal Reached tab default in the donate page
![image](https://user-images.githubusercontent.com/43912578/194996823-dc566fce-a932-4389-a009-4d5fc3ef28e7.png)

[2022-10-11 05:27] #521 closed

[2022-10-11 07:27] nshamit commented on #196
Yes please do.

On Tue, Jul 19, 2022 at 9:15 AM Manoj Lakshan ***@***.***>
wrote:

[2022-10-12 02:47] udda1996 commented on #496
@DilinaBandara any update on testing?

[2022-10-12 04:27] nshamit commented on #463
closing issue. related to needs / supplier quantities being changed.

[2022-10-12 04:27] #463 closed

[2022-10-12 04:29] #497 closed

[2022-10-12 04:30] #265 closed

[2022-10-12 04:38] anjula-sack commented on #496
I"m testing this, seems like it's gone.

[2022-10-12 04:43] anjula-sack commented on #496
I'll close this for now. Let's reopen this it's still there.

[2022-10-12 04:43] #496 closed

[2022-10-12 09:37] nshamit opened #523 "Make changes to volunteer names to About Us section"
**Add:**
Sasindu Alahakoon
Nilesh Jayanandana
Ryan Kuruppu

**Remove:**
Kajendran Alagaratnam
Ramindu Deshapriya

[2022-10-12 11:39] anjula-sack commented on #475
Duplicated issue https://github.com/LSFLK/MedicinesforLK/issues/468

[2022-10-12 11:39] #475 closed

[2022-10-12 12:23] #523 closed

[2022-10-13 09:40] akbandara opened #525 "Uploading quotations CSV does not update quantities correctly"
**Is your feature request related to a problem? Please describe.**
When uploading a new CSV for supplier quotations, the remaining and available quantities are not being updated correctly. The available quantity is updated, but the remaining quantity is not.

This means the front end doesn't show the correct remaining quantity and prevents creation of aid packages for additional amounts of the med

[2022-10-13 09:53] dinuka-rp commented on #504
Waiting on Backend fix for API error
`12/10/2022 18:38:35 error: {ballerina}TypeCastError {"message":"incompatible types: 'string[]' cannot be cast to 'string[4]'"}`

[2022-10-13 09:54] #525 closed

[2022-10-13 13:05] anjula-sack opened #527 "Reloading the page redirect backs to the home always in admin portal"
**Is your feature request related to a problem? Please describe.**
- Currently refreshing the page always return the user to home

**Describe the solution you'd like**
- Refreshing the page shouldn't redirect the user

[2022-10-13 13:43] akbandara opened #528 "Production Admin Portal is not showing donor pledges"
**Is your feature request related to a problem? Please describe.**
Some aid packages (#10 and #11) don't show the pledges in the detail view - despite there being pledges against the package (as shown in graph). The following screen shot shows the issue:

<img width="1693" alt="Screenshot 2022-10-13 at 14 39 59" src="https://user-images.githubusercontent.com/3705261/195612836-eddd7ccc-59f1-4010-a3

[2022-10-13 15:37] nshamit opened #529 "Prod: After you enter a value as a pledge and the pledge is recorded, the value can still be seen in the box it was entered into"
- [ ] Prod: After you enter a value as a pledge and the pledge is recorded, the value can still be seen in the box it was entered into.

![Screen Shot 2022-10-13 at 21 05 59](https://user-images.githubusercontent.com/44461004/195641896-950b97fa-6495-498b-977c-58eb85a68a5a.jpg)

[2022-10-13 18:02] dinuka-rp commented on #528
When working on moving the table to this place, I also noticed that the pledges API takes time to respond and is pretty inconsistent.

[2022-10-13 18:04] dinuka-rp commented on #529
I thought that this was more of a feature. Even after refreshing the page, it'll show the amount pledged by the user in the input text field.

If the behavior needs to be changed, please assign me. I can work on a UI change to show the pledged amount by the user separately. @nshamit

[2022-10-13 18:11] dinuka-rp commented on #504
@ayeshLK @manuranga were backend changes done to fix the TypeCastError?
Do I need to make any changes in the frontend code?

[2022-10-13 18:37] manuranga commented on #504
Yes. No change needed from you.

[2022-10-14 03:23] #504 closed

[2022-10-14 05:07] nshamit commented on #529
@dinuka-rp Isn't it unnecessary to do that when the pledge amount is recorded for a logged in donor to see in any case? See screenshot below.  Let's not have the amount pledged viewable in the input text field.

![Screen Shot 2022-10-14 at 10 35 36](https://user-images.githubusercontent.com/44461004/195766665-e52d0dd3-d637-43f7-b70e-5712fbfcb9c5.jpg)

[2022-10-14 12:48] akbandara commented on #504
Have tested this fix in Dev and confirm it works.

[2022-10-14 13:40] akbandara opened #532 "Change order of donor portal navigation to put 'About us' last"
**Is your feature request related to a problem? Please describe.**
On the Donor portal navigation bar, we would like the needs list, donation link and supplier link to come first in the order.

**Describe the solution you'd like**
Therefore, please move 'About us' to be the last item in the top navigation bar of the Donor portal.  The final order:

Home
Latest Needs
Donate
Suppliers
Newsroom
About

[2022-10-15 12:28] dinuka-rp commented on #529
Currently, login isn't working in the local environment of the donor portal to test this.

[2022-10-15 13:32] #532 closed

[2022-10-15 13:57] nshamit opened #535 "Additions to the leadership team on About Us"
1. Sanjiva Weerawarana, PhD
Founder, Chairman & CEO of WSO2

2. Dr. Natasha Perera
Medical Coordinator to Red Cross Elixir Project

[2022-10-15 14:02] akbandara opened #536 "Donor portal Needs list should not show items where the quantity needed is zero"
**Is your feature request related to a problem? Please describe.**
Some of the needs in the Donor portal needs list shows items where the need is 0.  These exist in the database because there are some quotations that were provided by suppliers for which there is no corresponding need and we added these zero need items in the needs list prevent DB errors.

![image](https://user-images.githubusercon

[2022-10-15 19:04] #536 closed

[2022-10-15 20:37] akbandara opened #539 "Custom package image is not shown on 'My pledges' tab of Donate page"
**Is your feature request related to a problem? Please describe.**
In the Donor Portal, when a aid package is assigned a custom image, this is not shown in the 'My pledges' tab of the Donate page. This is shown in the two screenshots below, where the first shows the aid package on the 'Goal pending' tab and the second shows the same package on the 'My pledges' tab.

<img width="80%" alt="Screensho

[2022-10-15 20:44] akbandara opened #540 "Donor portal not showing tick for 'Received at MOH' status of package"
**Is your feature request related to a problem? Please describe.**
When an aid package is moved to the 'Received at MOH' status in the admin portal, this is not shown in the donor portal with a tick. The screen shots below the admin portal and donor portal views of the same aid package.

<img width="80%" alt="Screenshot 2022-10-15 at 21 41 28" src="https://user-images.githubusercontent.com/3705261

[2022-10-15 20:54] akbandara opened #541 "Donor portal not showing aid package update posts when user not logged in"
**Is your feature request related to a problem? Please describe.**
When viewing the detail of an aid package in the donor portal, the update messages associated with the aid package is not shown unless the user is logged in.  Below are screen shots of the same aid package for anonymous and logged in users

**Anonymous user view**
<img width="80%" alt="Screenshot 2022-10-15 at 21 48 35" src="https:

[2022-10-16 04:06] nshamit commented on #535
@anjula-sack please remove Charuka Karunanayake also

[2022-10-16 04:07] anjula-sack commented on #541
@akbandara This is due to `aidpackages/${packageID}/updatecomments` API is not being public. We need to make this API public @manuranga

[2022-10-16 04:37] anjula-sack commented on #535
sure

[2022-10-16 05:20] #540 closed

[2022-10-16 05:20] #535 closed

[2022-10-16 07:02] akbandara opened #543 "Donor portal homepage banner text “to” should be “for”"
**Is your feature request related to a problem? Please describe.**
Main banner text has a small typo - “to” should be “for”

![E58BCC5D-6223-4573-B279-0B3691CC6BDA](https://user-images.githubusercontent.com/3705261/196022754-dcada652-a57b-47d1-a00c-2c3bd2e53e4f.jpeg)

**Describe the solution you'd like**
Edit main banner to read “Coordinated donations for Sri Lanka’s medical supply needs”

[2022-10-16 07:24] #543 closed

[2022-10-16 08:01] dinuka-rp commented on #539
I can't seem to reproduce this error as the API isn't returning the aidpackages created by my account. Maybe it's because some Asgardeo changes were done over the last couple of days? @manuranga

@akbandara all 3 tabs are using the same component, therefore it should ideally show the same image. Not too sure why it's not showing up here. Maybe the API for fetching aid packages by donor doesn't ret

[2022-10-16 10:06] #529 closed

[2022-10-16 10:51] manuranga commented on #541
made public

[2022-10-16 12:37] nshamit opened #546 "Add PayPal logo to website home page"
- [ ] Add PayPal logo to website home page

[2022-10-16 14:53] #541 closed

[2022-10-16 16:21] manuranga opened #549 "On donor website login button remains "Login" even after user logged in"
On donor website login button remains "Login" even after user logged in. When user clicks on the button to re-attempt it changes to correct value, that is "Logout".

[2022-10-16 16:39] nshamit opened #550 "Website / Donor Portal About Us: partners section, please add Eclektik Designs logo and text"
- [ ] Website / Donor Portal About Us: partners section, please add Eclektik Designs logo and text

![Eclektik Designs](https://user-images.githubusercontent.com/44461004/196046976-04ed6a31-5a03-4b84-a627-27582081952f.jpeg)

Creation of the project overview video

[2022-10-16 16:50] nshamit commented on #550
Also add Dr. Laura Leets to the Volunteer section please

[2022-10-16 17:23] nshamit commented on #468
Replicated this :
1. create aid package with NO pledges
2. edit quantity/-ies
3. Get error message (see below)

![Screen Shot 2022-10-16 at 22 52 05](https://user-images.githubusercontent.com/44461004/196049256-ad65f789-c62b-4f29-876b-2caaa53f7115.jpg)

[2022-10-16 17:58] nshamit opened #551 "Dev: Donor portal, a donor can only pledge a max of two times before you are prevented from pledging."
Dev: Donor portal, a donor can only pledge a max of two times before you are prevented from pledging.

To replicate:
1. Select aid package in Goal pending status
2. Pledge an amount towards the total
3. Pledge again (revise the pledge)
4. Now you are prevented from pledging again.

![Screen Shot 2022-10-16 at 23 25 52](https://user-images.githubusercontent.com/44461004/196050556-3e730ca2-5919-4492

[2022-10-17 03:38] RandilaP commented on #550
May I work on this @nshamit

[2022-10-17 04:12] nshamit commented on #550
@anjula-sack says please go ahead. @RandilaP please complete this today (Monday 17th Oct)

[2022-10-17 04:21] #539 closed

[2022-10-17 04:22] RandilaP commented on #550
@nshamit Where can I find the text and the details about Dr.Laura Leets.

[2022-10-17 04:24] nshamit commented on #550
@RandilaP you don't need any, Randila, just list her as a volunteer in the volunteer section of the About Us page.

[2022-10-17 04:34] RandilaP commented on #550
@nshamit okay. And what about the text of Eclektic Designs

[2022-10-17 05:25] nshamit opened #552 "Button to launch donor portal site"
- [ ] For donor portal, need to create button to press to officially launch the site.

[2022-10-17 05:50] RandilaP commented on #550
@nshamit Don't they have a link?

[2022-10-17 05:51] nshamit commented on #550
I searched for it last evening, Randila, when I was creating the issue. They didn't have anything I could use. Shall we just quickly finish this off ?

[2022-10-17 05:57] RandilaP commented on #550
okay

[2022-10-17 12:39] #546 closed

[2022-10-17 16:52] nshamit commented on #550
@RandilaP @anjula-sack
Text for Eclektic designs:

Eclektik Designs is a US based start-up that provides a full suite of design solutions that include online video marketing materials, trade-show graphics, logo designs and professional brochures.

[2022-10-17 17:21] anjula-sack opened #555 "Add a loading animation to the need page in the donor portal"
**Is your feature request related to a problem? Please describe.**
- It's better to show the user a loading animation when still the content is still loading

**Describe the solution you'd like**
- Add a loading animation to the need page in the donor portal

[2022-10-17 17:47] nipunsampath commented on #549
@manuranga I tried this in Firefox with standard tracking protection preset as you asked and with a custom preset where third-party cookies are blocked, but I couldn't reproduce this issue. Maybe one of your browser extension or a script is causing some interference?

On a related note, I did note that the silent sign in does not work on the standard tracking protection on Firefox since the third

[2022-10-17 19:36] #550 closed

[2022-10-17 19:36] #555 closed

[2022-10-17 20:06] dinuka-rp commented on #551
I can't figure out how this 0 is showing up :(
@anjula-sack can u please take a look at this?

[2022-10-18 04:36] anjula-sack commented on #510
This issue is not there anymore.

[2022-10-18 04:36] #510 closed

[2022-10-18 09:35] nshamit opened #556 "Change the Suppliers Menu to "Hospitals & Suppliers""
- [ ] Change the Suppliers Menu to "Hospitals & Suppliers"

[2022-10-18 09:38] nshamit opened #557 "In Donor portal aid package details page, the comments section needs to be ordered with most recent comments first."
- [ ] In Donor portal aid package details page, the comments section needs to be ordered with most recent comments first.

[2022-10-18 09:40] nshamit opened #558 "In donor portal, update Goal reached tab content when tab change happens"
- [ ] In donor portal, update Goal reached tab content when tab change happens. Currently, you need to refresh for the aid package to show up.

[2022-10-18 12:52] anjula-sack commented on #552
Thank you @RandilaP getting this done!

[2022-10-18 12:52] #552 closed

[2022-10-18 15:53] #557 closed

[2022-10-18 15:53] #558 closed

[2022-10-18 15:53] #551 closed

[2022-10-20 17:51] manuranga opened #562 "Set a fevicon to login page"
Set a fevicon to the login page.

[2022-10-21 07:10] manuranga commented on #562
Done
![Uploading Screenshot 2022-10-21 at 12.40.11 PM.png…]()

[2022-10-21 07:10] #562 closed

[2022-10-21 12:36] nshamit opened #563 "Upload Press Release - Oct 19, 2022"
- [ ] Upload Press Release

Title:Sri Lanka Red Cross Society Launches Elixir – Sri Lanka’s First Ever Medical Donation Matching Platform
Date: Oct 19th, 2022

[Elixir Press Release v3.docx (2).pdf](https://github.com/LSFLK/MedicinesforLK/files/9839003/Elixir.Press.Release.v3.docx.2.pdf)

[2022-10-21 12:41] nshamit opened #564 "Prod: Update message on aid package shows some script (Essential Medicines Nov 22 Aid Package)"
Prod: Update message on aid package shows some script (Essential Medicines Nov 22 Aid Package):

Script: <script>alert(0)</script>
shows in the update messages

![Screen Shot 2022-10-21 at 18 08 03](https://user-images.githubusercontent.com/44461004/197197894-311337be-9d3c-420b-ae64-cd5652c7b0e7.jpg)
![Screen Shot 2022-10-21 at 18 07 47](https://user-images.githubusercontent.com/44461004/197197917

[2022-10-21 14:30] anjula-sack commented on #564
Can't we delete that comment from the admin? @nshamit

[2022-10-22 12:38] anjula-sack commented on #564
@manuranga says that this could be coming from testing. @nshamit can you delete this from the admin UI?

[2022-10-22 12:49] #563 closed

[2022-10-22 13:38] dinuka-rp commented on #564
I think it would probably be better to start showing who posted the comments since that would increase accountability.

@nshamit @anjula-sack @manuranga what do you all think?

[2022-10-22 13:39] dinuka-rp commented on #564
I agree that it could be coming from testing too.

[2022-10-22 20:32] dinuka-rp opened #566 "Link the GitHub repo to the website"
**Is your feature request related to a problem? Please describe.**
Potential contributors may find it difficult to find the GitHub repo even if they're willing to contribute to the project, or even just raise any issues.

**Describe the solution you'd like**
Add the GitHub repo link to the donor portal website (maybe in the footer?)

[2022-10-23 16:36] dinuka-rp opened #567 "Place a button on each goal to share on FB and other social media"
**Is your feature request related to a problem? Please describe.**
It would be easy to share it and make it reachable to more people if each goal/ aid package can be shared across social media.

Suggested by: [Mohamed Rikas Mohamed Razick ](https://www.linkedin.com/in/mohamed-rikas-mohamed-razick-862a752b/), Senior Software Engineer
[Link to suggestion comment](https://www.linkedin.com/feed/update

[2022-10-23 16:37] dinuka-rp commented on #567
I think this can be done only with FE additions. I don't see why we'll need any BE changes for this.

[2022-10-23 21:30] samithaf opened #568 "Use Next.js as the main framework for the project"
**Is your feature request related to a problem? Please describe.**
This is a suggestion which align with latest official recommendation from React core team. Use Next.js as the main framework.

**Describe the solution you'd like**
By using Next.js you will be able to achieve super fast page loads and given it's a framework your application will be more resilient to upcoming React features/changes

[2022-10-27 13:46] nshamit opened #570 "Donor portal needs list changes need to be made"
Donor portal needs list changes:

1. Date/period should be change for Date required by
2. Include a thousand separator for the quantities of medicine.

[2022-10-27 13:53] nshamit opened #571 "Create direct route for individual donors (public) to donate"
1. Create a button from the Donate page banner directly to give.asia site.  Banner needs a sentence explaining connection to aid packages:  “We are currently accepting donations to a general fund that will support multiple aid packages.” with ‘Donate’ button.

2. Default tab to go to when you click on the Donate tab is ‘goal pending’ if there are packages to show here. If not, Goal Reached.  Curre

[2022-10-27 16:30] #570 closed

[2022-10-31 19:55] akbandara commented on #571
here is a mock up of what the ‘Donate’ banner could look like on the aid package page.  I am also attaching the thumbnail image to go with the banner.
<img width="731" alt="Screenshot 2022-10-31 at 19 47 19" src="https://user-images.githubusercontent.com/3705261/199098534-aba20ecb-1dcd-4692-be55-2b175a5c290a.png">

<img width="240" alt="elixir-slrcs-banner" src="https://user-images.githubuserconte

[2022-11-01 13:20] dinuka-rp commented on #567
### Suggestion by Prof. @akbandara:
Change the image displayed to the image of the aidpackage.

### Possible implementation:
Use React Helmet to change the meta tag.
https://www.digitalocean.com/community/tutorials/react-react-helmet
https://ogp.me/

This might not work for Client rendered React. Might have to use a Server-side framework like Next.JS to get it to load images from remote locations.

[2022-11-02 04:24] nshamit commented on #564
@anjula-sack hi i did not see this in prod anymore. Can we close this?

[2022-11-02 04:27] nshamit commented on #566
Text:
Elixir is an open source platform. If you would like to join the team and contribute to the project as a volunteer, please visit the Elixir Github Repository.

This should be directed to the wiki page.

[2022-11-02 04:33] nshamit opened #575 "Add press articles to the donor portal Newsroom page"
Add the following image and articles in English, Sinhala, Tamil.

Headline:

Sri Lanka Red Cross Society to Launches ‘Elixir’ to match donation in Aid of Medical Requirements: Sri Lanka’s First Ever Medical-Supply-to-Donation Matching Platform

[Sri Lanka Red Cross Society to Launches ‘Elixir’-Sinhala-001.pdf](https://github.com/LSFLK/MedicinesforLK/files/9916004/Sri.Lanka.Red.Cross.Society.to.Lau

[2022-11-04 04:40] #495 closed

[2022-11-04 04:41] #571 closed

[2022-11-08 03:01] #567 closed

[2022-11-08 03:01] anjula-sack commented on #564
yes

[2022-11-08 03:01] #564 closed

[2022-11-08 19:48] dinuka-rp opened #576 "Change the image displayed with the shared link to the thumbnail image of the aid package"
**Is your feature request related to a problem? Please describe.**
Change the image displayed with the shared link to the thumbnail image of the aid package. (Suggestion by @akbandara)

**Describe the solution you'd like**
Use React Helmet to change the meta tag to use the aidpackage thumbnail as the img.
https://www.digitalocean.com/community/tutorials/react-react-helmet
https://ogp.me/

_This mi

[2022-11-12 12:37] dinuka-rp commented on #576
@nipunsampath were you able to try this out?

[2022-11-17 09:38] YoshithaRathnayake commented on #566
Shall I work on this ?

[2022-11-17 09:38] YoshithaRathnayake commented on #566
@nshamit

[2022-11-17 09:59] nshamit commented on #566
please contact me on sherazad@opensource.lk

[2022-11-17 23:03] YoshithaRathnayake commented on #566
Sure

[2022-11-22 13:27] dinuka-rp commented on #576
https://stackoverflow.com/questions/19778620/provide-an-image-for-whatsapp-link-sharing

[2022-11-22 13:33] dinuka-rp commented on #576
https://www.kapwing.com/blog/how-to-add-dynamic-meta-tags-server-side-with-create-react-app/
https://github.com/facebook/create-react-app/issues/1261

[2022-11-22 13:37] akbandara commented on #576
This 'Sharing Debugger' from the Meta Developer site could also help us figure out what's going on: https://developers.facebook.com/tools/debug/